{{~it :value:index }}
<div class="game-table {{=value.color}}">
  <div class="table-title text-center"><img src="./images/league.png">{{=value.tournament}}
    <div class="pull-right">{{=value.timestamp}}</div>

  </div>
  <div class="row-height">
    <div class="col-xs-1 game-icon col-height col-middle"><img src="{{=value.leagueicon}}"><span class="tournament-name">LOL Summer Season</span></div>
    <div class="col-xs-10 game-info col-height col-top">
      <div class="row">
        <div class="col-xs-3"><img src="{{=value.home.logo}}">{{=value.home.fullname}}</div>
        <div class="col-xs-3">Winning the Series <span class="show-odd">1 <span class="odd-circle"></span><span class="odd-text">@</span>{{=value.home.odd}}</span></div>
        <div class="col-xs-3 action-top action"><a class="btn bet-countdown">{{=value.utc}}</a></div>
        <div class="col-xs-3 text-center"><a href="#/{{=value.id}}" class="show-chart"><img src="./images/statistic.jpg"><span>Team Stats</span></a></div>
      </div>
      <div class="row">
        <div class="col-xs-3"><img src="{{=value.away.logo}}">{{=value.away.fullname}}</div>
        <div class="col-xs-3">Winning the Series <span class="show-odd">1 <span class="odd-circle"></span><span class="odd-text">@</span>{{=value.home.odd}}</span></div>
        <div class="col-xs-3 action-bottom action text-center">Rules: BO3</div>
        <div class="col-xs-3"></div>
      </div>
    </div>
    <div class="col-xs-1 game-bet col-height col-middle game-icon"><a href="./bet-{{=value.id}}-en.html"><img src="./images/{{=value.color}}-bet.jpg"><span>Bet Now</span></a></div>
  </div>

</div>
{{~}}
