<div class="row b-line">
  <div class="col-xs-4 left">
    <h3>{{=it.home.fullname}}</h3>
    <div class="frame"><img src={{=it.home.logo}} /></div>
    <p class="caption">Recent Performance</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{=it.home.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{=it.home.score}}%;">
        {{=it.home.score}}/100
      </div>
    </div>

  </div>

  <div class="col-xs-4 center">
    <img src={{=it.leagueicon}} />
    <p class="caption">Forecast</p>
    <div class="bar">
      <div class="left-pill">{{=it.home.number}}</div>
      <div class="right-pill">{{=it.away.number}}</div>
    </div>

    <div class="circle">
        <p class="caption">Forecast</p>
        <div class="left-score">{{=it.home.forecast}}</div><div class="divider">:</div><div class="right-score">{{=it.away.forecast}}</div>
    </div>
  </div>

  <div class="col-xs-4 right">
    <h3>{{=it.away.fullname}}</h3>
    <div class="frame"><img src={{=it.away.logo}} /></div>
    <p class="caption">Recent Performance</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{=it.away.score}}" aria-valuemin="0" aria-valuemax="100" style="width: {{=it.away.score}}%;">
        {{=it.away.score}}/100
      </div>
    </div>

  </div>
</div>
<hr>

<div class="row b-line">
  <div class="col-xs-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Date</td>
          <td>VS</td>
          <td>Score</td>
          <td>First Dragon</td>
          <td>First Blood</td>
          <td>First Turret</td>
        </tr>
      </thead>
      <tbody>
        {{~it.home.lastfive :value:index }}
        <tr>
          <td>{{=value.date}}</td>
          <td><img src="{{=value.vs}}" /></td>
          <td>{{=value.point}}</td>
          <td>{{=value.dragon}}</td>
          <td>{{=value.blood}}</td>
          <td>{{=value.tower}}</td>
        </tr>
        {{~}}
      </tbody>
    </table>
  </div>

  <div class="col-xs-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Date</td>
          <td>VS</td>
          <td>Score</td>
          <td>First Dragon</td>
          <td>First Blood</td>
          <td>First Turret</td>
        </tr>
      </thead>
      <tbody>
        {{~it.away.lastfive :value:index }}
        <tr>
          <td>{{=value.date}}</td>
          <td><img src="{{=value.vs}}" /></td>
          <td>{{=value.point}}</td>
          <td>{{=value.dragon}}</td>
          <td>{{=value.blood}}</td>
          <td>{{=value.tower}}</td>
        </tr>
        {{~}}
      </tbody>
    </table>
  </div>
</div>

<div class="row chart-row">
  <div class="col-xs-6">
    <div class="team-label"><img src={{=it.home.logo}} /><div class="pill">{{=it.home.fullname}}</div></div>
    <div id="radar-home" style="width: 500px;height:350px;margin:0 auto;"></div>

  </div>
  <div class="col-xs-6">
    <div class="team-label"><img src={{=it.away.logo}} /><div class="pill">{{=it.away.fullname}}</div></div>
    <div id="radar-away" style="width: 500px;height:350px;margin:0 auto;"></div>

  </div>
</div>

<div class="row history-table-row">
  <div class="col-xs-6">
    <table class="table">
      <thead><tr><td class="active no-l-pad no-r-pad"><div>All</div></td><td><div>2016</div></td><td class="no-l-pad no-r-pad"><div>2015</div></td></tr></thead>
      <tbody>
        <tr>
          <td class="red-text">{{=it.home.history.strike}}</td>
          <td></td>
          <td  class="blue-text">{{=it.away.history.strike}}</td>
        </tr>
        <tr>
          <td><img src="{{=it.home.history.vs}}" /></td>
          <td><img src="./images/vs.png" /></td>
          <td><img src="{{=it.away.history.vs}}" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-6">
    <table class="table table-striped">
      <thead>
        <tr><td></td><td>Top</td><td>Jungle</td><td>Support</td><td>ADC</td><td>Mid</td></tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="{{=it.home.logo}}" /></td>
          {{for (var player in it.home.roster){ }}
            {{for (var el in it.home.roster[player]){ }}
              <td>{{=it.home.roster[player][el]}}</td>
            {{}}}
          {{}}}
	    </tr>
		<tr>
      <td>Matrix价格</td>
		  {{for (var player in it.home.roster_price){ }}
            {{for (var el in it.home.roster_price[player]){ }}
              <td>{{=it.home.roster_price[player][el]}}</td>
            {{}}}
          {{}}}
	    </tr>
		<tr>
 		  <td><img src="{{=it.away.logo}}" /></td>
          {{for (var player in it.away.roster){ }}
            {{for (var el in it.away.roster[player]){ }}
              <td>{{=it.away.roster[player][el]}}</td>
            {{}}}
          {{}}}
	    </tr>
		<tr>
      <td>Matrix价格</td>
		  {{for (var player in it.away.roster_price){ }}
            {{for (var el in it.away.roster_price[player]){ }}
              <td>{{=it.away.roster_price[player][el]}}</td>
            {{}}}
          {{}}}
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row hero-history">
	<div class="col-xs-6">
	  <h3 class="red-text">{{=it.home.fullname}}Commonly Used Hero</h3>
	  <ul>
	  {{for (var hero in it.home.heroes){ }}
      <li>
		  <img src="{{=it.home.heroes[hero].img}}" />
		  <p>{{=it.home.heroes[hero].rate}}%</p>
		  </li>
      {{}}}
	  </ul>
	</div>
		<div class="col-xs-6">
	  <h3 class="blue-text">{{=it.away.fullname}}Commonly Used Hero</h3>
	  <ul>
	  {{for (var hero in it.away.heroes){ }}
          <li>
		  <img src="{{=it.away.heroes[hero].img}}" />
		  <p>{{=it.away.heroes[hero].rate}}%</p>
		  </li>
      {{}}}
	  </ul>
	</div>
</div>


<div class="row percentage">
	<div class="col-xs-6">
	  <h3>Red Winning Percentage {{=it.home.chance}}%</h3>
	  <div class="percentage-frame left">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{=it.home.chance}}" aria-valuemin="0" aria-valuemax="100" style="width: {{=it.home.chance}}%;">

        </div>
      </div>
    </div>
	</div>
		<div class="col-xs-6">
	  <h3>Blue Winning Percentage {{=it.away.chance}}%</h3>
    <div class="percentage-frame right">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{=it.away.chance}}" aria-valuemin="0" aria-valuemax="100" style="width: {{=it.away.chance}}%;">

        </div>
      </div>
    </div>
	</div>
