{{~it :value:index }}
<table class="table odd-table">
  <thead>
    <tr>
      <td colspan="3" class="table-title">{{=value.type}}</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="first">
        <span class="odd-circle"></span><span class="odd-text">1</span>

        <img src="{{=value.home.logo}}" />{{=value.home.team}}
      </td>
      <td>赔率 <span class="odd">1<span class="odd-circle"></span><span class="odd-text">赔</span></span>{{=value.home.odd}}</td>

      <td class="last">
        <a href="#bet-modal" class="odd-bet bet-modal"><img src="./images/{{=it.color}}-placebet.jpg"><span>立即下注</span></a>
        <a href="#add-to-pass" class="add-to-pass"><img src="./images/yellow-check.jpg" /><span>添加过关</span></a>
      </td>
    </tr>
    <tr>
      <td class="first">
        <span class="odd-circle"></span><span class="odd-text">2</span>
        <img src="{{=value.away.logo}}" />{{=value.away.team}}
      </td>
      <td>赔率 <span class="odd">1<span class="odd-circle"></span><span class="odd-text">赔</span></span>{{=value.away.odd}}</td>
      <td class="last">
        <a href="#bet-modal" class="odd-bet bet-modal"><img src="./images/{{=it.color}}-placebet.jpg"><span>立即下注</span></a>
        <a href="#add-to-pass" class="add-to-pass"><img src="./images/yellow-check.jpg" /><span>添加过关</span></a>
      </td>
    </tr>
  </tbody>
</table>
{{~}}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
