<div class="panel panel-default">
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <h4 class="panel-title text-center"><a href='#{{=it.home.id}}' data-toggle='tab'><img src="{{=it.home.logo}}">{{=it.home.name}}</a></h4>
    </li>
    <li>
      <h4 class="panel-title text-center"><a href='#{{=it.away.id}}' data-toggle='tab'><img src="{{=it.away.logo}}">{{=it.away.name}}</a></h4>
    </li>
  </ul>
  <div class="tab-content outer">
    <div id="{{=it.home.id}}" class="tab-pane active">
      <ul class="nav nav-tabs nav-justified">
        {{~it.home.tables :value:index }}
          {{? index === 0}}
            <li class="active"><a href='#{{=value.type}}-{{=it.home.id}}' data-toggle='tab'>{{=value.name}}</a></li>
          {{?}}
          {{? index !== 0}}
            <li><a href='#{{=value.type}}-{{=it.home.id}}' data-toggle='tab'>{{=value.name}}</a></li>
          {{?}}
        {{~}}
      </ul>

      <div class="tab-content inner">
		      {{~it.home.tables :value:index }}
            {{? index === 0}}
            <div id="{{=value.type}}-{{=it.home.id}}" class="tab-pane active">
            {{?}}
            {{? index !== 0}}
            <div id="{{=value.type}}-{{=it.home.id}}" class="tab-pane">
            {{?}}
              <div class="row">
                <ul class="select-match btn-group">
                  <li class="active"><a href="#home-record" class="pill" data-toggle='tab'>最近纪录</a></li>
                  <li><a href="#home-big" class="pill" data-toggle='tab'>最近大路</a></li>
                </ul>
                <div class="tab-content">
                  <div id="home-record" class="col-xs-12 tab-pane active">
                    <table class="table roadmap-table">
                      <tbody>
                          <tr><td>{{? value.data.record}}{{=value.data.record}}{{?}}</td></tr>
                      </tbody>
                    </table>
                  </div>

                  <div id="home-big" class="col-xs-12 tab-pane">
                    <table class="table roadmap-table">
                      <tbody>
                          <tr><td>{{? value.data.big}}{{=value.data.big}}{{?}}</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div><!--/.tab-content-->
              </div><!--/.row-->

            </div>
		      {{~}}
	    </div><!--/.tab-content-->
      <div class="col-xs-12 legend">
        <ul class="legend">
          <li>胜:<span class="red checked roadmap-icon"></span></li>
          <li>负:<span class="blue cross roadmap-icon"></span></li>
          <li>胜:<span class="red empty roadmap-icon"></span></li>
          <li>负:<span class="blue empty roadmap-icon"> </span></li>
        </ul>
      </div>
    </div><!--/.tab-pane-->


    <div id="{{=it.away.id}}" class="tab-pane">
      <ul class="nav nav-tabs nav-justified">
        {{~it.away.tables :value:index }}
          {{? index === 0}}
            <li class="active"><a href='#{{=value.type}}-{{=it.away.id}}' data-toggle='tab'>{{=value.name}}</a></li>
          {{?}}
          {{? index !== 0}}
            <li><a href='#{{=value.type}}-{{=it.away.id}}' data-toggle='tab'>{{=value.name}}</a></li>
          {{?}}
        {{~}}
      </ul>

      <div class="tab-content inner">
		      {{~it.away.tables :value:index }}
            {{? index === 0}}
            <div id="{{=value.type}}-{{=it.away.id}}" class="tab-pane active">
            {{?}}
            {{? index !== 0}}
            <div id="{{=value.type}}-{{=it.away.id}}" class="tab-pane">
            {{?}}
              <div class="row">
                <ul class="select-match btn-group">
                  <li class="active"><a href="#away-record" class="pill" data-toggle='tab'>最近纪录</a></li>
                  <li><a href="#away-big" class="pill" data-toggle='tab'>最近大路</a></li>
                </ul>
                <div class="tab-content">
                  <div id="away-record" class="col-xs-12 tab-pane active">
                    <table class="table roadmap-table">
                      <tbody>
                          <tr><td>{{? value.data.record}}{{=value.data.record}}{{?}}</td></tr>
                      </tbody>
                    </table>
                  </div>

                  <div id="away-big" class="col-xs-12 tab-pane">
                    <table class="table roadmap-table">
                      <tbody>
                          <tr><td>{{? value.data.big}}{{=value.data.big}}{{?}}</td></tr>
                      </tbody>
                    </table>
                  </div>

                </div><!--/.tab-content-->
              </div><!--/.row-->

            </div>
		      {{~}}
	    </div><!--/.tab-content-->
      <div class="col-xs-12 legend">
        <ul class="legend">
          <li>胜:<span class="red checked roadmap-icon"></span></li>
          <li>负:<span class="blue cross roadmap-icon"></span></li>
          <li>胜:<span class="red empty roadmap-icon"></span></li>
          <li>负:<span class="blue empty roadmap-icon"> </span></li>
        </ul>
      </div>
    </div><!--/.tab-pane-->


</div><!--/.outer-->
