extends layouts/default

block content
  .container.bet.blue
    .row.helper
      .team-matchup
        .team-a.team-odd
          img(src='./images/royal-never-give-up-150x150.png')
          | H2K  @ 0.123
        .team-b.team-odd
          img(src='./images/royal-never-give-up-150x150.png')
          | EDG @ 0.123
      .col-xs-6
        .datetime
          .date 2016/08/09
          .time 17:30
        .countdown
      .col-xs-6.text-right
        ul
          li
            a.dark-red.bet-history-modal(href='#bet-history-modal')
              img(src='./images/history.png')
              | 下注记录
              span.has-msg 1
          li
            a.dark-yellow.pass-modal(href='#pass-modal',data-toggle='tooltip',title='您的过关已經加入过关清单',data-placement='top',data-trigger='manual')
              img(src='./images/pass.png')
              | 过关清单
          li
            a.dark-red(href='#')
              img(src='./images/statistic.png')
              | 队伍数据


    .row
      .col-xs-6.bet-list-blue.bet-list
        ul.nav.nav-tabs.nav-justified
          li.active
            a(href='#final', data-toggle='tab') [BO4] 总比赛
          li
            a(href='#first',data-toggle='tab') 第一局
          li
            a(href='#second',data-toggle='tab') 第二局
          li
            a(href='#third',data-toggle='tab') 第三局
        .tab-content
          .tab-pane.active#final
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') 比赛盘口
              li
                a.pill.exotics(href='#') 特别盘口
            .all-odd

          .tab-pane#first
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') 比赛盘口
              li
                a.pill.exotics(href='#') 特别盘口
          .tab-pane#second
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') 比赛盘口
              li
                a.pill.exotics(href='#') 特别盘口
          .tab-pane#third
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') 比赛盘口
              li
                a.pill.exotics(href='#') 特别盘口
      .col-xs-6.info
        .embed-media
          iframe(type='text/html' width='640' height='390' src='http://www.youtube.com/embed/VaibusDtFMc?autoplay=0' frameborder='0')

        .road-map
          .panel-group#accordion
            .panel.panel-default


  div(style='display:none')
    #bet-modal.blue
      .modal-inner
        .modal-header
          h4.modal-title.bodoni
            img(src='./images/royal-never-give-up-150x150.png')
            | S5全球总决赛 H2k Gaming
            span VS
            | SK Telecom Team1
            img(src='./images/energy-peace-maker-150x150.png')

        .modal-body
          form.form-horizontal
            .form-group
              .dialog-content
                .row
                  .col-xs-4.normal-img
                    img(src='./images/left-coin.png')

                  .col-xs-4.text-center
                    table.table
                      tr
                        td 盘口：
                        td.bodoni Game 1 Win
                      tr
                        td 队伍：
                        td.bodoni
                          img(src='./images/right-coin.png')
                          | H2k Gaming
                      tr
                        td 赔率：
                        td.bodoni
                          span.odd 1
                            span.odd-circle
                            span.odd-text 赔
                            | 1.2345

                  .col-xs-4.normal-img
                    img(src='./images/right-coin.png')
                hr
                .row.normal-img
                  .col-xs-3.col-xs-push-3
                    img(src='./images/bet-bet.png')
                    | 下注时间：2016/08/10
                  .col-xs-3.col-xs-push-3
                    img(src='./images/bet-flag.png')
                    | 比赛日期：2016/08/12
                .row
                  .col-xs-8.col-xs-push-2
                    .long-pill
                      .long-pill-inner
                        | 下注金额：$
                        input#bet-amount(type='text' value='0')
                        span.sub 下注上限：$20000
                .row
                  .col-xs-8.col-xs-push-2
                    ul.coins
                      li
                        a(data-plus='20' href='#')
                          img(src='./images/blue-coin-20.png')
                      li
                        a(data-plus='50' href='#')
                          img(src='./images/blue-coin-50.png')
                      li
                        a(data-plus='100' href='#')
                          img(src='./images/blue-coin-100.png')
                      li
                        a(data-plus='200' href='#')
                          img(src='./images/blue-coin-200.png')
                      li
                        a(data-plus='500' href='#')
                          img(src='./images/blue-coin-500.png')
                .row
                  .col-xs-8.col-xs-push-2.text-center
                    h3 预期获利
                  .col-xs-8.col-xs-push-2.text-center
                    span.gold.bodoni $16000
                .row.text-center
                  a.submit-bet(href='#')
                    img(src='./images/blue-placebet.jpg')
                    span 确认下注

      .success-message(style='display:none')
        .modal-header
          h4.modal-title 下注成功
        .modal-body
          .form-group
            .dialog-content
              .row
                .col-xs-4.normal-img
                  img(src='./images/left-coin.png')

                .col-xs-4.text-center
                  table.table
                    tr
                      td 总下注金额：
                      td.bodoni $2600

                    tr
                      td 总赔率：
                      td.bodoni
                        span.odd 1
                          span.odd-circle
                          span.odd-text 赔
                          | 1.2345
                    tr
                      td 预期获利：
                      td.bodoni.large
                        | $21000

                .col-xs-4.normal-img
                  img(src='./images/right-coin.png')
          .row
            hr

          .row
            table.table.border
              tr
                td
                  | 联赛：LPL春季赛
                td.bodoni
                  span.odd 1
                    span.odd-circle
                    span.odd-text 赔
                    | 1.2345
              tr
                td
                  | 比赛：
                  img(src='./images/royal-never-give-up-150x150.png')
                  | H2K VS
                  img(src='./images/royal-never-give-up-150x150.png')
                  | EDG
                td
                  | 下注日期：2016 / 09 /24
              tr
                td
                  | 盘口：
                  img(src='./images/royal-never-give-up-150x150.png')
                  | H2K
                  br
                  span.space Game1FB
                td
                  | 比赛日期：2016 / 09 /24
          .row.text-center
            a.close-modal.done(href='#')
              img(src='./images/blue-btn.jpg')
              span 继续下注

  div(style='display:none')
    #pass-modal.blue
      .modal-inner
        .modal-header
          h4.modal-title 当前投注记录
        .modal-body
          .row
            .col-xs-12
              ul.row.follow-up
                li
                  .col-xs-7.left
                    span.odd-circle
                    span.odd-text 1
                    img.league-logo(src='./images/lpl.png')
                    | 英雄联盟 LPL春季赛 Snake.Q VS EDG

                    p.side-note
                      | 队伍：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | 盘口： H2K   比赛日期：2016 / 09 /24
                  .col-xs-3.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text 赔
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check 已添加
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | 删除

                li
                  .col-xs-7.left
                    span.odd-circle
                    span.odd-text 2
                    img.league-logo(src='./images/lpl.png')
                    | 英雄联盟 LPL春季赛 Snake.Q VS EDG

                    p.side-note
                      | 队伍：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | 盘口： H2K   比赛日期：2016 / 09 /24
                  .col-xs-3.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text 赔
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check 已添加
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | 删除
          .row
            .col-xs-8.col-xs-push-2.expect-odd.text-center
              | 总赔率：
              span.bodoni
                span.odd 1
                  span.odd-circle
                  span.odd-text 赔
                  | 1.2345
          .row
            .col-xs-8.col-xs-push-2
              .long-pill
                .long-pill-inner
                  | 下注金额：$
                  input#bet-amount(type='text' value='0')
                  span.sub 下注上限：$20000
          .row
            .col-xs-8.col-xs-push-2
              ul.coins
                li
                  a(data-plus='20' href='#')
                    img(src='./images/blue-coin-20.png')
                li
                  a(data-plus='50' href='#')
                    img(src='./images/blue-coin-50.png')
                li
                  a(data-plus='100' href='#')
                    img(src='./images/blue-coin-100.png')
                li
                  a(data-plus='200' href='#')
                    img(src='./images/blue-coin-200.png')
                li
                  a(data-plus='500' href='#')
                    img(src='./images/blue-coin-500.png')
          .row
            .col-xs-8.col-xs-push-2.text-center
              h3 预期获利
            .col-xs-8.col-xs-push-2.text-center
              span.gold.bodoni $16000
          .row.text-center
            a.submit-pass(href='#')
              img(src='./images/yellow-check.jpg')
              span 确认下注


      .success-message(style='display:none')
        .modal-header
          h4.modal-title 过关成功
        .modal-body
          .form-group
            .dialog-content
              .row
                .col-xs-4.normal-img
                  img(src='./images/left-coin.png')

                .col-xs-4.text-center
                  table.table
                    tr
                      td 总下注金额：
                      td.bodoni $2600

                    tr
                      td 总赔率：
                      td.bodoni
                        span.odd 1
                          span.odd-circle
                          span.odd-text 赔
                          | 1.2345
                    tr
                      td 预期获利：
                      td.bodoni.large
                        | $21000

                .col-xs-4.normal-img
                  img(src='./images/right-coin.png')
          .row
            hr

          .row
            .col-xs-12
              ul.row.follow-up
                li
                  .col-xs-6.left
                    span.odd-circle
                    span.odd-text 1
                    | 英雄联盟 LPL春季赛 Snake.Q VS EDG
                    p.side-note
                      | 盘口：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | H2K   第一局：FB 2016 / 09 /24
                  .col-xs-4.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text 赔
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check 已添加
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | 删除

                li
                  .col-xs-6.left
                    span.odd-circle
                    span.odd-text 2
                    | 英雄联盟 LPL春季赛 Snake.Q VS EDG
                    p.side-note
                      | 盘口：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | H2K   第一局：FB 2016 / 09 /24
                  .col-xs-4.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text 赔
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check 已添加
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | 删除

          .row.text-center
            a.close-modal(href='#')
              img(src='images/continue.jpg')
              span 继续其他竞猜

  div(style='display:none')
    #bet-history-modal.blue
      .modal-inner
        .modal-header
          h4.modal-title
            | 当前投注记录
        .modal-body
          form.form-inline
            .form-group
              .form-group-inner
                label.control-label(for='dateFilter')
                  |日期筛选 :
                select.form-control(name='dateFilter' id='dateFilter')
                  option
                    | 全部

            .form-group
              .form-group-inner
                label.control-label(for='dateFilter')
                  | 特定日期 :
                select.form-control(name='dateFilter' id='dateFilter')
                  option
                    | 全部

            .form-group
              .form-group-inner
                label.control-label(for='dateFilter')
                  | 盘口类型 :
                select.form-control(name='dateFilter' id='dateFilter')
                  option
                    | 全部

            .form-group
              .form-group-inner
                label.control-label(for='dateFilter')
                  |游戏类型 :
                select.form-control(name='dateFilter' id='dateFilter')
                  option
                    | 全部

            .form-group
              .form-group-inner
                label.control-label(for='dateFilter')
                  |联赛筛选 :
                select.form-control(name='dateFilter' id='dateFilter')
                  option
                    | 全部

            .form-group
              .pull-right
                a.done(href='#')
                  img(src='../images/continue.jpg')
                  span 确定
          .row
            .col-xs-12
              ul.nav.nav-tabs
                li.active
                  a(href='#bet')
                    | 待定注码
                li
                  a(href='#history')
                    | 交易记录

              .tab-content
                .tab-pane.active#bet
                  .table-wrap
                    table.clearfix(border='0', cellspacing='0', cellpadding='0')
                      thead
                        tr
                          td 下注日期
                          td 联赛
                          td 比赛队伍
                          td 下注类型
                          td 赔率
                          td 金额
                          td 比赛时间
                      tbody
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                        tr.highlight
                          td 2016/07/07
                          td
                          td.gold-text(style='background:transparent url(./images/history-pass.png) no-repeat center center')
                            | 过关
                          td
                            img(src='../images/history-statistic.png')
                            |  盘口数量：2
                          td.gold-text @3.6
                          td.gold-text $5000
                          td
                            a.toggle-parlay.parlay-down#parlay-a(href='#')

                        tr.highlight-child.parlay-a
                          td(colspan='7')
                            div.slide
                              table.table(border='0', cellspacing='0', cellpadding='0')
                                tr
                                  td -
                                  td
                                    img(src='../images/history-league.jpg')
                                  td
                                    img(src='../images/history-teama.jpg')
                                    | QG VS RNG
                                    img(src='../images/history-teamb.jpg')
                                  td
                                    img(src='../images/history-teamb.jpg')
                                    |BO3 Series Win
                                  td @1.678
                                  td
                                  td 2016/08/09
                                tr
                                  td -
                                  td
                                    img(src='../images/history-league.jpg')
                                  td
                                    img(src='../images/history-teama.jpg')
                                    | QG VS RNG
                                    img(src='../images/history-teamb.jpg')
                                  td
                                    img(src='../images/history-teamb.jpg')
                                    |BO3 Series Win
                                  td @1.678
                                  td
                                  td 2016/08/09

                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            img(src='../images/history-teamb.jpg')
                            |BO3 Series Win
                          td @1.678
                          td $5000
                          td 2016/08/09
                  .history-pagination.pagination
                    .pagination-wrapper
                      a.pagi-icon.pagination-first(href='#')
                      a.pagi-icon.pagination-prev(href='#')
                      span.indicator Page 1 of 17
                      a.pagi-icon.pagination-next(href='#')
                      a.pagi-icon.pagination-last(href='#')

                .tab-pane#history
                  .table-wrap
                    table.clearfix
                      thead
                        tr
                          td 日期时间
                          td 赛事类型
                          td 比赛队伍
                          td 下注类型
                          td 赔率
                          td 金额
                          td 输赢
                      tbody
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.drop -6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.drop -6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.drop -6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.drop -6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000
                        tr
                          td 2016/07/07
                          td
                            img(src='../images/history-league.jpg')
                          td
                            img(src='../images/history-teama.jpg')
                            | QG VS RNG
                            img(src='../images/history-teamb.jpg')
                          td
                            | Game1/FB
                          td @1.678
                          td $5000
                          td.rise +6000

                  .history-pagination.pagination
                    .pagination-wrapper
                      a.pagi-icon.pagination-first(href='#')
                      a.pagi-icon.pagination-prev(href='#')
                      span.indicator Page 1 of 17
                      a.pagi-icon.pagination-next(href='#')
                      a.pagi-icon.pagination-last(href='#')


    audio#coin
      source(src='images/coins.mp3')
      source(src='images/coins.ogg')
