extends layouts/default-en

block content
  .container.bet.red
    .row.helper
      .team-matchup
        .team-a.team-odd
          img(src='./images/a-team.png')
        .team-b.team-odd
          img(src='./images/b-team.png')
      .col-xs-6
        .datetime
          .date 2016/08/09
          .time 17:30
        .countdown
      .col-xs-6.text-right
        ul
          li
            a.dark-red(href='#')
              img(src='./images/history.png')
              | Bet History
              span.has-msg 1
          li
            a.dark-yellow.pass-modal(href='#pass-modal',data-toggle='tooltip',title='Your Parlays has been added',data-placement='top',data-trigger='manual')
              img(src='./images/pass.png')
              | Parlay List
          li
            a.dark-red(href='#')
              img(src='./images/statistic.png')
              | Team Stats



    .row
      .col-xs-6.bet-list-red.bet-list
        ul.nav.nav-tabs.nav-justified
          li.active
            a(href='#final', data-toggle='tab') [BO3] Series
          li
            a(href='#first',data-toggle='tab') Game 1
          li
            a(href='#second',data-toggle='tab') Game 2
          li
            a(href='#third',data-toggle='tab') Game 3
        .tab-content
          .tab-pane.active#final
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') Match Odds
              li
                a.pill.exotics(href='#') Exotic Odds
            .all-odd

          .tab-pane#first
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') Match
              li
                a.pill.exotics(href='#') Exotics
          .tab-pane#second
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') Match
              li
                a.pill.exotics(href='#') Exotics
          .tab-pane#third
            ul.select-match.btn-group
              li
                a.pill.active.match(href='#') Match
              li
                a.pill.exotics(href='#') Exotics
      .col-xs-6.info
        .embed-media
          iframe(type='text/html' width='640' height='390' src='http://www.youtube.com/embed/VaibusDtFMc?autoplay=0' frameborder='0')

        .road-map
          .panel-group#accordion
            .panel.panel-default


  div(style='display:none')
    #bet-modal.red
      .modal-inner
        .modal-header
          h4.modal-title.bodoni
            img(src='./images/royal-never-give-up-150x150.png')
            | S5 Final H2k Gaming
            span VS
            | SK Telecom Team1
            img(src='./images/energy-peace-maker-150x150.png')

        .modal-body
          form.form-horizontal
            .form-group
              .dialog-content
                .row
                  .col-xs-4.normal-img
                    img(src='./images/left-coin.png')

                  .col-xs-4.text-center
                    table.table
                      tr
                        td Market：
                        td.bodoni Game 1 Win
                      tr
                        td Team：
                        td.bodoni
                          img(src='./images/right-coin.png')
                          | H2k Gaming
                      tr
                        td Odds：
                        td.bodoni
                          span.odd 1
                            span.odd-circle
                            span.odd-text @
                            | 1.2345

                  .col-xs-4.normal-img
                    img(src='./images/right-coin.png')
                hr
                .row.normal-img
                  .col-xs-3.col-xs-push-3
                    img(src='./images/bet-bet.png')
                    | Bet Date：2016/08/10
                  .col-xs-3.col-xs-push-3
                    img(src='./images/bet-flag.png')
                    | Match Date：2016/08/12
                .row
                  .col-xs-8.col-xs-push-2
                    .long-pill
                      .long-pill-inner
                        | Your Bet：$
                        input#bet-amount(type='text' value='0')
                        span.sub Max Limit：$20000
                .row
                  .col-xs-8.col-xs-push-2
                    ul.coins
                      li
                        a(data-plus='20' href='#')
                          img(src='./images/red-coin-20.png')
                      li
                        a(data-plus='50' href='#')
                          img(src='./images/red-coin-50.png')
                      li
                        a(data-plus='100' href='#')
                          img(src='./images/red-coin-100.png')
                      li
                        a(data-plus='200' href='#')
                          img(src='./images/red-coin-200.png')
                      li
                        a(data-plus='500' href='#')
                          img(src='./images/red-coin-500.png')
                .row
                  .col-xs-8.col-xs-push-2.text-center
                    h3 Expected Return
                  .col-xs-8.col-xs-push-2.text-center
                    span.gold.bodoni $16000
                .row.text-center
                  a.submit-bet(href='#')
                    img(src='./images/red-placebet.jpg')
                    span Confirm

      .success-message(style='display:none')
        .modal-header
          h4.modal-title Place Bet Successfully
        .modal-body
          .form-group
            .dialog-content
              .row
                .col-xs-4.normal-img
                  img(src='./images/left-coin.png')

                .col-xs-4.text-center
                  table.table
                    tr
                      td Total Amount：
                      td.bodoni $2600

                    tr
                      td Odd：
                      td.bodoni
                        span.odd 1
                          span.odd-circle
                          span.odd-text @
                          | 1.2345
                    tr
                      td Possible：
                      td.bodoni.large
                        | $21000

                .col-xs-4.normal-img
                  img(src='./images/right-coin.png')
          .row
            hr

          .row
            table.table.border
              tr
                td
                  | Tournament：LPL League
                td.bodoni
                  span.odd 1
                    span.odd-circle
                    span.odd-text @
                    | 1.2345
              tr
                td
                  | Match：
                  img(src='./images/royal-never-give-up-150x150.png')
                  | H2K VS
                  img(src='./images/royal-never-give-up-150x150.png')
                  | EDG
                td
                  | Bet Date：2016 / 09 /24
              tr
                td
                  | Market：
                  img(src='./images/royal-never-give-up-150x150.png')
                  | H2K
                  br
                  span.space Game1FB
                td
                  | Match Date：2016 / 09 /24
          .row.text-center
            a.close-modal.done(href='#')
              img(src='./images/red-btn.jpg')
              span Continue

  div(style='display:none')
    #pass-modal.red
      .modal-inner
        .modal-header
          h4.modal-title Your Parlays
        .modal-body
          .row
            .col-xs-12
              ul.row.follow-up
                li
                  .col-xs-7.left
                    span.odd-circle
                    span.odd-text 1
                    img.league-logo(src='./images/lpl.png')
                    | LPL Spring Series Snake.Q VS EDG

                    p.side-note
                      | Team：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | Market： H2K   Match Date：2016 / 09 /24
                  .col-xs-3.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text @
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check Added
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | Remove
                li
                  .col-xs-7.left
                    span.odd-circle
                    span.odd-text 2
                    img.league-logo(src='./images/lpl.png')
                    | LPL Spring Series Snake.Q VS EDG

                    p.side-note
                      | Team：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | Market： H2K   Match Date：2016 / 09 /24
                  .col-xs-3.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text @
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check Added
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | Remove
          .row
            .col-xs-8.col-xs-push-2.expect-odd.text-center
              | Our Offer：
              span.bodoni
                span.odd 1
                  span.odd-circle
                  span.odd-text @
                  | 1.2345
          .row
            .col-xs-8.col-xs-push-2
              .long-pill
                .long-pill-inner
                  | Your Bet: $
                  input#bet-amount(type='text' value='0')
                  span.sub Max Limit：$20000
          .row
            .col-xs-8.col-xs-push-2
              ul.coins
                li
                  a(data-plus='20' href='#')
                    img(src='./images/red-coin-20.png')
                li
                  a(data-plus='50' href='#')
                    img(src='./images/red-coin-50.png')
                li
                  a(data-plus='100' href='#')
                    img(src='./images/red-coin-100.png')
                li
                  a(data-plus='200' href='#')
                    img(src='./images/red-coin-200.png')
                li
                  a(data-plus='500' href='#')
                    img(src='./images/red-coin-500.png')
          .row
            .col-xs-8.col-xs-push-2.text-center
              h3 Expected Return
            .col-xs-8.col-xs-push-2.text-center
              span.gold.bodoni $16000
          .row.text-center
            a.submit-pass(href='#')
              img(src='./images/yellow-check.jpg')
              span Confirm


      .success-message(style='display:none')
        .modal-header
          h4.modal-title Pass Line Success
        .modal-body
          .form-group
            .dialog-content
              .row
                .col-xs-4.normal-img
                  img(src='./images/left-coin.png')

                .col-xs-4.text-center
                  table.table
                    tr
                      td Total Amount：
                      td.bodoni $2600

                    tr
                      td Odd：
                      td.bodoni
                        span.odd 1
                          span.odd-circle
                          span.odd-text @
                          | 1.2345
                    tr
                      td Expected Return
                      td.bodoni.large
                        | $21000

                .col-xs-4.normal-img
                  img(src='./images/right-coin.png')
          .row
            hr

          .row
            .col-xs-12
              ul.row.follow-up
                li
                  .col-xs-6.left
                    span.odd-circle
                    span.odd-text 1
                    | League Snake.Q VS EDG
                    p.side-note
                      | Market：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | H2K   First：FB 2016 / 09 /24
                  .col-xs-4.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text @
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check Added
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | Remove

                li
                  .col-xs-6.left
                    span.odd-circle
                    span.odd-text 2
                    | League Snake.Q VS EDG
                    p.side-note
                      | Market：
                      img(src='./images/royal-never-give-up-150x150.png')
                      | H2K   First：FB 2016 / 09 /24
                  .col-xs-4.right.text-right
                    img(src='./images/royal-never-give-up-150x150.png')
                    | H2K VS EDG
                    img(src='./images/royal-never-give-up-150x150.png')
                    .show-odd
                      span.odd 1
                        span.odd-circle
                        span.odd-text @
                        | 1.2345

                  .col-xs-2.pass-action
                    span.bet-check Added
                      label
                        input(type='checkbox')
                    a.dark-btn
                      | Remove

          .row.text-center
            a.close-modal.done(href='#')
              img(src='images/continue.jpg')
              span Continue

    audio#coin
      source(src='images/coins.mp3')
      source(src='images/coins.ogg')
