extends layouts/default-logged

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
            a.update-avatar.btn.silver.modal-btn#launch-avatar(href='#avatar-modal')
              | 修改头像
          .col-xs-10.less-pad
            .frame.profile
              .silver.vertical-text
                | 白银段位
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .state-content
                  .state-content-left
                    img(src='./images/badge.png')

                    .rating(data-rating="3")
                  .state-content-right
                    .title
                      | 当前段位：
                      strong 白银VIP2级
                    .level.clearfix
                      .level-left
                        | 升级还需
                      .level-right.gold-text
                        | 50经验值
                    .progress
                      .progress-bar(style="width:50%") 50/100

                  .state-content-share
                    ul.share-vertical
                      li
                        a
                          img(src='./images/fb.png')
                      li
                        a
                          img(src='./images/twitter.png')
                      li
                        a
                          img(src='./images/weibo.png')
                    a.btn.large.yellow(href='#')
                      img(src='./images/share-symbol.png')
                      br
                      | 立即分享


      .col-xs-6.ad-col
        .row
          .ad-left
            img.img-responsive(src='./images/contest-ad1.jpg')
            .ad-text
              .ad-text-left
                h4 邀请好友并成功注册即可获得
                .ad-content
                  .ad-inner
                    img(src='./images/gem-img.png')
                    | 价值
                    span.gold-text
                      span.unit $
                      span.amount 1,000
                    | 宝石
                  .ad-inner
                    img(src='./images/gold-img.png')
                    | 价值
                    span.gold-text
                      span.unit $
                      span.amount 1,000
                    | 游戏币
              .ad-text-right
                a.btn.large.yellow(href='#')
                  img(src='./images/invite-symbol.png')
                  br
                  | 立即邀请

          .ad-right
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container.contest-container
    .row
      .col-xs-12.col-border
        .col-inner
          .row
            .col-xs-3
              img(src='./images/contest-top-left.jpg')
              img(src='./images/contest-bottom-left.jpg')
            .col-xs-6.enter-contest
              .enter-contest-content
                .left-gem
                  | 宝石彩池
                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
                .right-participant
                  | 参加人数
                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
                .enter-contest-text
                  h1 海量奢侈品加冕
                  h2 高达价值¥200万宝石随你赢
                a.btn.red.enter-modal(href='#enter-modal')
                  | 立即参加

            .col-xs-3
              img(src='./images/contest-top-right.jpg')
              img(src='./images/contest-bottom-right.jpg')

          .row.rules-row
            .col-xs-12.text-center
              h4  比赛规则
              ol
                li 必要时，颁奖仪式的位次将被视为是正式赛果，不论之后是否出现取消或更改赛果的情况。
                li 赌盘通常会在一项赛事结束后不久尽快进行结算。 完全出于服务客户的目的，一些赌盘可能会在正式结果公布之前结算。 如果一个赌盘结算错误，本公司有权撤销结算。
                li 如果对任何赛果有不确定，本公司有权无限期暂停任何赌盘的结算。
                li 对于已经结算的投注，自赛事开始时间起的72个小时后，如赛果有任何修正或变更，本公司不会予以承认。
                li 当官方赛果与本公司网站赛果版块公布的赛果之间有冲突时，应当通过参考本公司的有关赛事视频记录来确定正确的结果，以便解决冲突。


    div(style='display:none')
      #enter-modal.red.contest-modal
        .modal-inner
          .modal-header
            h4.modal-title 信息不完整
          .modal-body
            .row
              .col-xs-12
                img.modal-img(src='./images/contest-missing-info.jpg')
                br
                | 您必须填写以下信息才能参加比赛模式，进入排行榜赢取宝石
                ul.missing-item
                  li
                    img(src='./images/warning.png')

                    img(src='./images/missing-phone.png')
                    | 手机号
                  li
                    img(src='./images/warning.png')

                    img(src='./images/missing-mail.png')
                    | 邮箱
                  li
                    img(src='./images/warning.png')

                    img(src='./images/missing-account.png')
                    | 游戏账号
            hr
            .row.text-center
              a.close-modal(href='./personal-center-default.html')
                img(src='images/continue.jpg')
                span 立即填写
