extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 常见问题
        .section


          h4 你们的内容准确吗?
          p
            | 我们会通过不同的消息来源去验证所有的资料与新闻
        .section

          h4 你们更新频密吗?
          p
            | 我们至少每24 小时做更新

        .section
          h4 为什么有一部分的内容我看不见?
          p
            | 你一定要注册付费去使用所有功能,但如果你有问题不能显示所有网页内容，我们建议你至少使用: IE 11, Chrome, Mozilla FireFox 与 Safari, 请到官网下载最新版的浏览器

        .section
          h4 我在你门网页发现了错误的内容，我应该怎么做?
          p
            | 小量的错误一般在所有网站是无可避免的，我们鼎力为所有顾客提供最好的用户体验, 请在
            a(href='mailto:info@esportsmatrix.com') info@esportsmatrix.com
            | 联络我们

        .section
          h4 我不能在你们网站享受你们的游戏,为什么?
          p 我们会尽力让我们在所有国家里合法使用与享受我们的产品,如果我们封锁了你的游戏使用，或许在你们的国家这个游戏是不能在管制下经营的.
          
