extends layouts/default

block content

  .full-container#masthead
    .container
      img(src='./images/spacer.png')

  .full-container#banner
    div.container(style='background-image:url("./images/banner.jpg");')
      img(src='./images/banner-spacer.png')
      .text
        h4 Written by Blaze &lsquo;Drauloh&rsquo; Lengyel
        h1 A look at the Czech Superstar Oskar
        p.caption Occasionally in Counter-Strike history, we see a player rise out of his country's local pro scene to be able to go toe-to-toe with the world's finest. One such player is Tomáš "Oskar" Šťastný.
        a.read-more Read this article
          span.arrow

  .container
    .row
      .row-height
        .col-xs-2.sidebar.col-height.col-top
          .sidebar-inner
            h3.sidebar-title



        .col-xs-10.game-panel.col-height.col-top
          .panel-title.row
