extends layouts/default-en

block content
  .flexslider
    .slides
      li
        img(src='../images/Exports_1680_01_girl_EN.jpg')
      li
        img(src='../images/Exports_1680_02_fish_EN.jpg')
      li
        img(src='../images/Exports_1680_03_money_EN.jpg')
      li
        img(src='../images/Exports_1680_04_prize_EN.jpg')

  .container.games
    .row
      .row-height
        .col-xs-2.sidebar.col-height.col-top
          .sidebar-inner
            h3.sidebar-title Our Markets
              button.glyphicon.glyphicon-list.btn.btn-sm.pull-right.search-game

            .panel-group#accordion
              .panel.panel-default
                .panel-heading-padding.blue
                  h4.panel-title
                    a(data-toggle='collapse' data-parent='#accordion' href='#lol')
                      img.league-icon(src='./images/league-icon.png')
                      | LOL
                #lol.panel-collapse.collapse.in
                  ul.panel-body
                    li
                      a(href='#')  LOL Summer Season
                    li
                      a(href='#')  2016 LMS
                        button.yellow NEW!
                    li
                      a(href='#')  Dota 2016
                    li
                      a(href='#') 2016 Dota Summer

                .panel-heading-padding.red
                  h4.panel-title
                    a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#dota')
                      img.league-icon(src='./images/dota-icon.png')
                      | Dota 2
                #dota.panel-collapse.collapse
                  ul.panel-body
                    li
                      a(href='#')  Dota 2016 Summer Season
                    li
                      a(href='#')  2016 LMS
                        button.yellow NEW!
                    li
                      a(href='#')  Dota 2016
                    li
                      a(href='#') 2016 Dota Summer
            a.all(href="#") All

        .col-xs-10.game-panel.col-height.col-top
          .panel-title.row
            .input-group
              input#market(type='checkbox',name='market',data-size='mini')

              input.form-control(placeholder="Search")
              span.input-group-btn
                span.glyphicon.glyphicon-search

            ul.panel-pagination
              li
                a.active(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5
              li
                a(href='#') >

          .panel-content.over.all-game
