doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    link(rel='stylesheet' href='styles/jquery.fancybox.css')
    // build:css styles/main.css
    link(rel='stylesheet' href='styles/jquery.jscrollpane.css')
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->
    
  .container.games
    .row
      .row-height
        .col-xs-2.sidebar.col-height.col-top
          .sidebar-inner
            h3.sidebar-title 选择的游戏
              button.glyphicon.glyphicon-list.btn.btn-sm.pull-right.search-game
            form
              .form-group.has-feedback
                input.form-control(type='text' placeholder='Search')
                span.glyphicon.glyphicon-search.form-control-feedback
            .panel-group#accordion
              .panel.panel-default
                .panel-heading-padding
                  h4.panel-title
                    a(data-toggle='collapse' data-parent='#accordion' href='#lol') 
                      img.league-icon(src='./images/league-icon.png') 
                      | League of Legends
                #lol.panel-collapse.collapse.in
                  ul.panel-body
                    li
                      a(href='#')  LOL 2016 Summer Season
                    li
                      a(href='#')  2016 LMS
                        button.yellow NEW!
                    li
                      a(href='#')  LOL 2016
                    li
                      a(href='#') 2016 LOL Summer
                      
                .panel-heading-padding
                  h4.panel-title
                    a.collapsed(data-toggle='collapse' data-parent='#accordion' href='#dota')
                      img.league-icon(src='./images/dota-icon.png') 
                      | Dota 2
                #dota.panel-collapse.collapse
                  ul.panel-body
                    li
                      a(href='#')  Dota 2016 Summer Season
                    li
                      a(href='#')  2016 LMS
                        button.yellow NEW!
                    li
                      a(href='#')  Dota 2016
                    li
                      a(href='#') 2016 Dota Summer
                      
                
        .col-xs-10.game-panel.col-height.col-top
          .panel-title.row 所有游戏
            ul.panel-pagination
              li
                a.active(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') >
                
          .panel-content.over.all-game
  
          
    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild
    
    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild
    
    script(src='scripts/moment.min.js')
    script(src='scripts/jquery.plugin.js')
    script(src='scripts/jquery.countdown.min.js')
    script(src='scripts/jquery.mousewheel.js')
    script(src='scripts/echarts.min.js')
    script(src='scripts/jquery.jscrollpane.min.js')
    script(src='scripts/doT.min.js')
    script(src='scripts/bootstrap-toggle.min.js')
    script(src='scripts/jquery.fancybox.pack.js')
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
