extends layouts/default-logged

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
            a.update-avatar.btn.silver.modal-btn#launch-avatar(href='#avatar-modal')
              | 修改头像
          .col-xs-10.less-pad
            .frame.profile
              .silver.vertical-text
                | 白银段位
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .state-content
                  .state-content-left
                    img(src='./images/badge.png')

                    .rating(data-rating="3")
                  .state-content-right
                    .title
                      | 当前段位：
                      strong 白银VIP2级
                    .level.clearfix
                      .level-left
                        | 升级还需
                      .level-right.gold-text
                        | 50经验值
                    .progress
                      .progress-bar(style="width:50%") 50/100

                  .state-content-share
                    ul.share-vertical
                      li
                        a
                          img(src='./images/fb.png')
                      li
                        a
                          img(src='./images/twitter.png')
                      li
                        a
                          img(src='./images/weibo.png')
                    a.btn.large.yellow.launch-refer-modal(href='#share-modal')
                      img(src='./images/share-symbol.png')
                      br
                      | 立即分享


      .col-xs-6
        .row
          .invite-col
            a.launch-refer-modal(href='#invite-modal')
              img.img-responsive(src='./images/invite-background.jpg')
              .invite-content
                h4 邀请好友并成功注册即可获得
                .invite-inner
                  div
                    img(src='./images/gem-img.png')
                    | 价值
                    span.gold-text $
                    span.gold-text.huge 1,000
                    | 宝石
                  div
                    img(src='./images/gold-img.png')
                    | 价值
                    span.gold-text $
                    span.gold-text.huge 1,000
                    | 游戏币
              span.btn.large.yellow
                img(src='./images/invite-symbol.png')
                br
                | 立即邀请

          .col-xs-6.vipstore-col
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container
    .row
      .col-xs-12
        .leaderboard-wrapper
          ul.nav.nav-tabs.clearfix.leaderboard-tab
            li.active
              a(href='#threeday-tab', data-toggle='tab') 三天挑战赛
            li
              a(href='#oneweek-tab',data-toggle='tab') 一周挑战赛
            li
              a(href='#onemonth-tab',data-toggle='tab') 每月挑战赛
            li
              a(href='#halfyear-tab',data-toggle='tab') 季度挑战赛
            li.pull-right.lastupdated
              | 更新时间 : 2016-12-27 18.41

          .tab-content.leaderboard-tab-content
            .tab-pane.active#threeday-tab
              ul.nav.nav-tabs.clearfix.threeday-inner
                li.active
                  a(href='#threeday-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#threeday-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行

                li.leaderboard-date.pull-right
                  .date-label
                    .gold-text 结算日期
                    .date-value 2016-12-30 18.41
                  .leaderboard-countdown

              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#threeday-player
                  .table-wrap
                    .scrollWrap
                      ul
                        li.head
                          span.rank
                            img(src='./images/leaderboard-rank.png')
                            | 排名
                          span.user
                            img(src='./images/leaderboard-user.png')
                            | 游戏名
                          span.level
                            img(src='./images/leaderboard-level.png')
                            | 段位
                          span.balance
                            img(src='./images/leaderboard-balance.png')
                            | 所剩结余
                          span.reward
                            img(src='./images/leaderboard-reward.png')
                            | 获利

                        li.first
                          span.rank
                            img(src='./images/gold-crown.png')
                            img(src='./images/green-up.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')

                        li.second
                          span.rank
                            img(src='./images/silver-crown.png')
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')

                        li.third
                          span.rank
                            img(src='./images/bronze-crown.png')
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')

                        li
                          span.rank
                            | 4
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')

                        li
                          span.rank
                            | 5
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 6
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 7
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        //li.view-more
                          //a.more(href='#')
                            //| 点击查看更多
                            //img(src='./images/d-arrow.png')
                        li
                          span.rank
                            | 8
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        li
                          span.rank
                            | 9
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 10
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        li
                          span.rank
                            | 11
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/rise.png')
                        li
                          span.rank
                            | 12
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')
                        li
                          span.rank
                            | 13
                            img(src='./images/red-down.png')
                          span.user
                            img(src='./images/user.png')
                            | Dengdan
                          span.level
                            img(src='./images/badge.png')
                            | 白银2
                          span.balance
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                          span.reward
                            img(src='./images/leaderboard-coin.png')
                            | 4,000,000
                            img(src='./images/drop.png')




                .tab-pane#threeday-friend
                  | three day friend

            .tab-pane#oneweek-tab
              ul.nav.nav-tabs.clearfix.oneweek-inner
                li.active
                  a(href='#oneweek-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#oneweek-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行
              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#oneweek-player
                  | one week player
                .tab-pane#oneweek-friend
                  | one week friend

            .tab-pane#onemonth-tab
              ul.nav.nav-tabs.clearfix.onemonth-inner
                li.active
                  a(href='#onemonth-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#onemonth-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行
              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#onemonth-player
                  | one mth player
                .tab-pane#onemonth-friend
                  | one mth friend

            .tab-pane#halfyear-tab
              ul.nav.nav-tabs.clearfix.halfyear-inner
                li.active
                  a(href='#halfyear-player', data-toggle='tab')
                    img(src='../images/leaderboard-chart.png')
                    | 玩家排行
                li
                  a(href='#halfyear-friend',data-toggle='tab')
                    img(src='../images/leaderboard-friend.png')
                    | 好友排行
              .tab-content.leaderboard-tab-inner-content
                .tab-pane.active#halfyear-player
                  | halfyear player
                .tab-pane#halfyear-friend
                  | halfyear friend


          .leaderboard-info
            .enter-contest
              img.img-responsive(src='./images/leaderboard-info.png')
              .enter-contest-content
                .up-gem
                  img(src='./images/gem-img.png')
                  | 宝石彩池
                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
                .down-participant
                  img(src='./images/participant.png')
                  | 参加人数

                  br
                  span.million
                    | 0
                  span.hundred-thounsand
                    | 0
                  span.ten-thounsand
                    | 0
                  span.thousand
                    | 0
                  span.hundred
                    | 0
                  span.ten
                    | 0
                  span.unit
                    | 0
            .poll
              h3
                img(src='./images/gem-img.png')
                | 派彩
              .table-wrap
                .scrollWrap
                  ul
                    li.head
                      span.left
                        img(src='./images/leaderboard-rank.png')
                        | 排名
                      span.right
                        img(src='./images/gem-img.png')
                        | 获得宝石

                    li.first
                      span.left
                        img(src='./images/poll-gold.png')
                      span.right
                        img(src='./images/gem-img.png')
                        span.gold-text 5,000,000

                    li.second
                      span.left
                        img(src='./images/poll-silver.png')
                      span.right
                        img(src='./images/gem-img.png')
                        span.gold-text 5,000,000

                    li.third
                      span.left
                        img(src='./images/poll-bronze.png')
                      span.right
                        img(src='./images/gem-img.png')
                        span.gold-text 5,000,000

                    li
                      span.left
                        | 4
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 5
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 6-100
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 101-500
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000

                    li
                      span.left
                        | 501-700
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000
                    li
                      span.left
                        | 501-700
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000
                    li
                      span.left
                        | 501-700
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000
                    li
                      span.left
                        | 501-701
                      span.right
                        img(src='./images/gem-img.png')
                        | 5,000,000


  div(style='display:none')
    #avatar-modal
      .modal-header
        h4.modal-title.text-center 修改头像
      .modal-body
        ul.nav.nav-tabs
          li.active
            a(href='#upload-avatar', data-toggle='tab')
              | 自定义头像
          li
            a(href='#pick-avatar', data-toggle='tab')
              | 经典头像
        .tab-content
          .tab-pane.active#upload-avatar
            img.img-responsive.uploaded(src='images/avatar.png')

            label.btn.yellow
              input.sr-only#inputImage(type='file', accept='image/*')
              | 本地上載
          .tab-pane#pick-avatar
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
        .preview-area
          | 预览
          .preview-sm
            .preview
            | 60x60
          .preview-md
            .preview
            | 100x100
        .clearfix
        hr
        .form-group
          .col-xs-12
            a.button.outline-red.pull-left.close-modal(href='#') 取消
            a.button.dark-red.pull-right.close-modal(href='#') 确定


  div(style='display:none')
    #share-modal.red.refer-modal
      .modal-inner
        .modal-header
          h4.modal-title 邀请好友
            span.grey-out 推荐成功即可获得~
        .modal-body
          .row
            .col-xs-12.modal-img-wrapper
              img.modal-img(src='./images/invite-bg.jpg')
              .modal-img-text
                h4 邀请成功即可获得100游戏币
                p 每日邀请不上限，好友注册完成基本信息任务即可获得
          .row
            .col-xs-12.text-center
              h2 您的好友通过邮箱链接进入网站即可注册
              img(src='./images/missing-mail.png')
              |   邮箱
              input(type='text', placeholder='请填写好友的邮箱')
          hr
          .row
            .col-xs-11.text-left.col-xs-push-1
              | 您的好友必须成功注册并填写以下信息才能获得
              ul.missing-item
                li
                  img(src='./images/missing-phone.png')
                  | 手机号
                li
                  img(src='./images/missing-mail.png')
                  | 邮箱
                li
                  img(src='./images/missing-account.png')
                  | 游戏账号
          hr
          .row.text-center
            a.close-modal.done(href='#')
              img(src='images/continue.jpg')
              span 发送

  div(style='display:none')
    #invite-modal.red.refer-modal
      .modal-inner
        .modal-header
          h4.modal-title 分享好友
            span.grey-out 与好友共享辉煌时刻~
        .modal-body
          .row
            .col-xs-12.modal-img-wrapper
              img.modal-img(src='./images/share-bg.jpg')
              .refer-show-rank
                img(src='./images/badge.png')
                .rating(data-rating="3")
                .level 白银VIP2级
          .row.align-modal-img
            .col-xs-10.text-center
              input.copy-me#copy-me(type='text', readOnly, value='http://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word1&st=-1&cs21651613315=3660361838%pg&fro...')
            .col-xs-2
              a.btn.yellow.copy-me-btn(href='#', data-clipboard-target="#copy-me")
                | 复制
          .row
            .col-xs-12.text-center
              | 选择邀请社交平台：
              ul.share-platform
                li
                  a(href='http://www.twitter.com', target='_blank')
                    img(src='./images/twitter-share.jpg')
                li
                  a(href='http://www.qq.com', target='_blank')
                    img(src='./images/qq-share.jpg')
                li
                  a(href='http://www.weibo.com', target='_blank')
                    img(src='./images/weibo-share.jpg')
                li
                  a(href='http://www.tencent.com', target='_blank')
                    img(src='./images/wechat-share.jpg')
                li
                  a(href='http://www.facebook.com', target='_blank')
                    img(src='./images/fb-share.jpg')
