extends layouts/default-logged

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
            a.update-avatar.btn.silver.modal-btn#launch-avatar(href='#avatar-modal')
              | 修改头像
          .col-xs-10.less-pad
            .frame.profile
              .silver.vertical-text
                | 白银段位
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .state-content
                  .state-content-left
                    img(src='./images/badge.png')

                    .rating(data-rating="3")
                  .state-content-right
                    .title
                      | 当前段位：
                      strong 白银VIP2级
                    .level.clearfix
                      .level-left
                        | 升级还需
                      .level-right.gold-text
                        | 50经验值
                    .progress
                      .progress-bar(style="width:50%") 50/100

                  .state-content-share
                    ul.share-vertical
                      li
                        a
                          img(src='./images/fb.png')
                      li
                        a
                          img(src='./images/twitter.png')
                      li
                        a
                          img(src='./images/weibo.png')
                    a.btn.large.yellow.launch-refer-modal(href='#share-modal')
                      img(src='./images/share-symbol.png')
                      br
                      | 立即分享


      .col-xs-6
        .row
          .invite-col
            a.launch-refer-modal(href='#invite-modal')
              img.img-responsive(src='./images/invite-background.jpg')
              .invite-content
                h4 邀请好友并成功注册即可获得
                .invite-inner
                  div
                    img(src='./images/gem-img.png')
                    | 价值
                    span.gold-text $
                    span.gold-text.huge 1,000
                    | 宝石
                  div
                    img(src='./images/gold-img.png')
                    | 价值
                    span.gold-text $
                    span.gold-text.huge 1,000
                    | 游戏币
              span.btn.large.yellow
                img(src='./images/invite-symbol.png')
                br
                | 立即邀请

          .col-xs-6.vipstore-col
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container
    .row
      .col-xs-12
        ul.nav.nav-tabs.pull-right.clearfix.personal-tab
          li.active
            a(href='#general', data-toggle='tab') 基本信息
          li
            a(href='#message',data-toggle='tab') 竞猜信息
            li
            a(href='#leaderboard',data-toggle='tab') 排行榜
        .wraptranpezoid
          .trapezoidLine1
            .trapezoidLine2
          .trapezoidLine3
            .trapezoidLine4


        .tab-content.personal-tab-content
          .tab-pane.active#general
            .row-height

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/transaction-summary.jpg')
                    | 结账总览
                  .tab-inner-content
                    .clearfix
                    .trans-box.trans-brown
                      .upper
                        .upper-left
                          img(src='./images/transaction-1.jpg')
                        .upper-right
                          .label 游戏币：
                          .value
                            .lg 10,000
                      .clearfix.full-black-bar
                        | 最近获利表现
                        img.drop-img(src='./images/drop.png')
                        span.drop $10,000( - 0.03% )

                    .trans-box.trans-blue
                      .upper
                        .upper-left
                          img(src='./images/transaction-2.jpg')
                        .upper-right
                          .label 宝石：
                          .value
                            .lg 10,000
                      .clearfix
                        a.btn.yellow
                          img(src='./images/cart.png')
                          | 商城

                    .trans-box.trans-green
                      .upper
                        .upper-left
                          img(src='./images/transaction-3.jpg')
                        .upper-right
                          .label 段位经验值：
                          .value
                            .lg 1,000
                      .clearfix
                        a.btn.black
                          img(src='./images/book.png')
                          | 冲分教学

                .tab-wrap
                  .tab-inner-title
                    img(src='./images/personal-detail.jpg')
                    | 个人信息
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | 当前完成度为
                      span.gold-text 55%
                  .tab-inner-content

                    .tab-box.red.clearfix
                      | 邮箱：
                      span.done-state
                        span.gold-text
                          | 64894651897@qq.com
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 64894651897@qq.com
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.final-state(href='#') 确定
                      .pull-right
                        span.claim-state
                          a.btn.yellow.edit-btn(href='#')
                            | 修改

                    .tab-box.red.clearfix
                      | 手机：
                      span.original-state
                        select.default
                          option(selected='selected')
                           |+86
                        input.default.long(placeholder='请输入手机号')
                        a.btn.dark-grey.verification(href='#',data-toggle='tooltip',title='已发送验证码',data-placement='top',data-trigger='manual')
                          | 发送验证码
                        span.editable.short
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.next-state(href='#') 确定
                      span.confirm-state(style='display:none')
                        select.default
                          option(selected='selected')
                           |+86
                        input.default.long(placeholder='请输入手机号')
                        a.btn.dark-grey.verification(href='#',data-toggle='tooltip',title='已发送验证码',data-placement='top',data-trigger='manual')
                          | 发送验证码
                        span.editable.short
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | +86 13728653659
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | +86 13728653659
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .tab-box.red.clearfix
                      | 性别：
                      span.original-state
                        select.default
                          option(selected='selected')
                            |男 / 女
                          option
                            |男
                          option
                            |女
                        a.btn.dark-red.next-state(href='#') 确定
                      span.confirm-state(style='display:none')
                        select.default
                          option(selected='selected')
                            |男 / 女
                          option
                            |男
                          option
                            |女
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | 男
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 男
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .tab-box.red.clearfix
                      | 出生日期：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='detailDOB')
                        a.btn.dark-red.next-state(href='#') 确定
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='confirmDOB')
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | 1990.06.13
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 1990.06.13
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .tab-box.grey.clearfix
                      | 真实姓名：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' placeholder='姓名')
                        a.btn.dark-red.next-state(href='#') 确定
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' placeholder='姓名')
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | 邓某某
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 邓某某
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .tab-box.grey.clearfix
                      | 微信：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='detailWechat')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='confirmWechat')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | A12345
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | A12345
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .tab-box.grey.clearfix
                      | QQ:
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='detailQQ')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='confirmQQ')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | A12345
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | A12345
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .tab-box.red.clearfix
                      | 国籍：
                      span.original-state
                        select.default
                          option(selected='selected')
                            | 所属国籍
                          option
                            | 中国
                        a.btn.dark-red.next-state(href='#') 确定
                      span.confirm-state(style='display:none')
                        select.default
                          option(selected='selected')
                            | 所属国籍
                          option
                            | 中国
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | 中国
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 中国
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取


                    .tab-box.red.clearfix
                      | 密码:
                      span.confirm-state
                        span.editable.long
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        span.editable.long
                          img(src='../images/detail-edit.gif')
                          input(type='text' placeholder='再次确认重新输入密码')
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | *********
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | *********
                      .pull-right
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim

                    .tab-box.red.clearfix
                      | 住址：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.next-state(href='#') 确定
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.final-state(href='#') 确定
                      span.done-state(style='display:none')
                        span.gold-text
                          | 广东省深圳市福田区泰然大厦D座1002
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 广东省深圳市福田区泰然大厦D座1002
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | 金币
                        span.original-state
                          a.btn.chrome
                            | 领取
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | 领取
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | 修改
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt 未完成
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt 未领取

                    .inner-tab-title
                      | 绑定游戏账号 >
                    .player-account-content
                      .lol-account.player-account
                        img(src='./images/my-account-lol.jpg')
                        .original-state
                          img(src='./images/claim-grey.png')
                          span.claim-txt TO-DO
                        .account-action
                          a.btn.dark-red.launch-lol(href='#add-lol-modal')  完善信息
                          .claim-action
                            img(src='./images/account-coin.png')
                            span.gold-text 100
                            | 金币
                            a.btn.chrome.claim-btn(href='#')
                              | 领取

                      .dota-account.player-account
                        img(src='./images/my-account-dota.jpg')
                        //.original-state
                          //img(src='./images/claim-grey.png')
                          //span.claim-txt 未完成
                        .account-action
                          a.btn.yellow.launch-dota(href='#add-dota-modal')  修改信息
                          .claim-action
                            img(src='./images/account-coin.png')
                            span.gold-text 100
                            | 金币
                            a.btn.chrome.claim-btn(href='#')
                              | 领取

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/chart.jpg')
                    | 排行榜
                  .tab-inner-content.leaderboard
                    .leader-flexslider(style='display:none;')
                      ul.slides
                        li.trans-box.trans-golden
                          .medal
                          .box-title
                            img(src='../images/gold-icon.png')
                            | 总排行
                          .box-content
                            span.fancy
                              | 1
                            span.unit
                              | st
                            span.divider
                            span.number
                              | 10,000
                            a.btn.gold(href='#')
                              | 查看完整排行榜
                        li.trans-box.trans-silver
                          .medal
                            img(src='../images/medal-silver.png')
                          .box-title
                            | 高注码排行
                          .box-content
                            span.fancy
                              | 2
                            span.unit
                              | nd
                            span.divider

                            span.number
                              | 10,000
                            a.btn.silver(href='#')
                              | 查看完整排行榜
                        li.trans-box.trans-bronze
                          .medal
                            img(src='../images/medal-bronze.png')
                          .box-title
                            | 近三个月排行
                          .box-content
                            span.fancy
                              | 1,000
                            span.unit
                              | th
                            span.divider

                            span.number
                              | 10,000
                            a.btn.bronze(href='#')
                              | 查看完整排行榜
                        li.trans-box.trans-golden
                          .medal
                            img(src='../images/medal-gold.png')
                          .box-title
                            | 总排行
                          .box-content
                            span.fancy
                              | 1
                            span.unit
                              | st
                            span.divider
                            span.number
                              | 10,000
                            a.btn.gold(href='#')
                              | 查看完整排行榜
                        li.trans-box.trans-silver
                          .medal
                            img(src='../images/medal-silver.png')
                          .box-title
                            img(src='../images/silver-icon.png')
                            | 高注码排行
                          .box-content
                            span.fancy
                              | 2
                            span.unit
                              | nd
                            span.divider

                            span.number
                              | 10,000
                            a.btn.silver(href='#')
                              | 查看完整排行榜
                        li.trans-box.trans-bronze
                                .medal
                                  img(src='../images/medal-bronze.png')
                                .box-title
                                  img(src='../images/bronze-icon.png')
                                  | 近三个月排行
                                .box-content
                                  span.fancy
                                    | 1,000
                                  span.unit
                                    | th
                                  span.divider

                                  span.number
                                    | 10,000
                                  a.btn.bronze(href='#')
                                    | 查看完整排行榜

                    .caption
                      | 参加游戏赢取宝石，即可兑换海量奢侈品
                      .pull-right
                        a.blue-gradient(href='/contest.html')
                          | 比赛详情
                    .clearfix
                    a.personal-tab-enter-contest(href='#')
                      img(src='./images/enter-contest.jpg')
                      span.contest-content
                        h2 海量奢侈品加冕
                        p 高达价值¥200万宝石随你赢
                      span.btn.large.dark-red.enter-modal(href='#enter-modal')
                        img(src='./images/invite-symbol-white.png')
                        br
                        | 立即参加

                .tab-wrap
                  .tab-inner-title
                    img(src='./images/milestone.jpg')
                    | 里程碑
                  .tab-inner-content.milestone-wrap
                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-diamond.png')
                        img.cash(src='./images/milestone-gem-100.jpg')
                      .milestone-progress
                        span.gold-text 100宝石回赠
                        |（升级至下一个VIP，尚余5,000经验值）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.chrome.huge 未完成

                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-diamond.png')
                        img.cash(src='./images/milestone-gem-100.jpg')
                      .milestone-progress
                        span.gold-text 100宝石回赠
                        |（升级至下一个VIP，尚余5,000经验值）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.chrome.huge 未完成

                    .milestone-block.milestone-lock
                      .milestone-icons
                        img(src='./images/milestone-locked.png')
                        img.cash(src='./images/milestone-cash.jpg')
                      .milestone-progress
                        span.big-text 100现金回赠
                        |（升级至下一个VIP，尚余5,000经验值）
                        .progress
                          .progress-bar(style="width:0")
                      .milestone-button
                        a.btn.chrome.huge 未解锁

                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-diamond.png')
                        img.cash(src='./images/milestone-gem-100.jpg')
                      .milestone-progress
                        span.gold-text 100宝石回赠
                        |（升级至下一个VIP，尚余5,000经验值）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.chrome.huge 未完成

                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-diamond.png')
                        img.cash(src='./images/milestone-gem-100.jpg')
                      .milestone-progress
                        span.gold-text 100宝石回赠
                        |（升级至下一个VIP，尚余5,000经验值）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.chrome.huge 未完成

                    .milestone-block.milestone-lock
                              .milestone-icons
                                img(src='./images/milestone-locked.png')
                                img.cash(src='./images/milestone-cash.jpg')
                              .milestone-progress
                                span.big-text 100现金回赠
                                |（升级至下一个VIP，尚余5,000经验值）
                                .progress
                                  .progress-bar(style="width:0")
                              .milestone-button
                                a.btn.chrome.huge 未解锁

                .tab-wrap
                  .tab-inner-title
                    img(src='./images/mission.jpg')
                    | 常规任务
                    //span.pull-right.info
                      //img(src='./images/warning.jpg')
                      //| 50/80 未接任务
                  .tab-inner-content.mission-wrap
                    .mission-block.blue-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/milestone-gem-20.jpg')
                        a.btn 签到
                    .mission-block.blue-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/milestone-gem-20.jpg')
                        a.btn 签到
                    .mission-block.grey-block
                      .mission-icon
                        img(src='./images/mission-locked.png')
                      .mission-progress
                        span.big-text 任务
                        | （您的等级还到达VIP3，距离升级VIP3还差
                        span.gold-text 1300
                        |经验值）
                        .progress
                          .progress-bar(style="width:0")
                      .mission-button
                        img.cash(src='./images/milestone-cash-20.jpg')
                        a.btn 未解锁

                    .mission-block.blue-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/milestone-gem-20.jpg')
                        a.btn 签到
                    .mission-block.blue-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/milestone-gem-20.jpg')
                        a.btn 签到
                    .mission-block.grey-block
                      .mission-icon
                        img(src='./images/mission-locked.png')
                      .mission-progress
                        span.big-text 任务
                        | （您的等级还到达VIP3，距离升级VIP3还差
                        span.gold-text 1300
                        |经验值）
                        .progress
                          .progress-bar(style="width:0")
                      .mission-button
                        img.cash(src='./images/milestone-cash-20.jpg')
                        a.btn 未解锁

                    .mission-block.blue-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/milestone-gem-20.jpg')
                        a.btn 签到
                    .mission-block.blue-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/milestone-gem-20.jpg')
                        a.btn 签到
                    .mission-block.grey-block
                      .mission-icon
                        img(src='./images/mission-locked.png')
                      .mission-progress
                        span.big-text 任务
                        | （您的等级还到达VIP3，距离升级VIP3还差
                        span.gold-text 1300
                        |经验值）
                        .progress
                          .progress-bar(style="width:0")
                      .mission-button
                        img.cash(src='./images/milestone-cash-20.jpg')
                        a.btn 未解锁


          .tab-pane#message
            .row-height
              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/wallet-icon.jpg')
                    | 游戏币走势
                    .pull-right
                      select.form-control
                        option(selected='selected')
                          | 日期赛选
                  .tab-inner-content
                    .lol-data.legend-data
                      .img-wrapper
                        img(src='./images/chart-lol.jpg')
                      .text-wrapper
                        | 英雄联盟下注胜率 :
                        span.gold-text 80%
                        .progress
                          .progress-bar(style='width:80%')
                    .dota-data.legend-data
                      .img-wrapper
                        img(src='./images/chart-dota.jpg')
                      .text-wrapper
                        | DOTA2下注胜率 :
                        span.gold-text 80%
                        .progress
                          .progress-bar(style='width:80%')
                    .legend-data
                      .legend-info
                        span.color-circle.red
                        | 百分比
                      .legend-info
                        span.color-circle.orange
                        | 总获利
                      .legend-info
                        span.color-circle.blue
                        | 总注码

                    ul.nav.nav-tabs.clearfix.chart-tab

                      li.active
                        a(href='#week',data-toggle='tab') 最近一周
                      li
                        a(href='#month',data-toggle='tab') 最近一个月
                      li
                        a(href='#halfyear', data-toggle='tab') 最近季度

                    .tab-content.chart-tab-content

                      .tab-pane.active(id='week')
                        .statistic
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-pie.jpg')
                            .text-wrapper
                              | 百分比
                              .gold-text.large-text
                                | 34%
                            .grey-box
                              | 距离上次结算
                              span.rise 10%
                              img(src='./images/rise.png')
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-graph.jpg')
                            .text-wrapper
                              | 总获利
                              .gold-text.large-text
                                | 1000
                            .grey-box
                              | 距离上次结算
                              span.rise 10%
                              img(src='./images/rise.png')
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-token.jpg')
                            .text-wrapper
                              | 总注码
                              .gold-text.large-text
                                | 1000
                            .grey-box
                              | 距离上次结算
                              span.drop 10%
                              img(src='./images/drop.png')
                        #week-chart(style="width: 764px;height:620px;margin:0 auto;")

                      .tab-pane(id='month')
                        .statistic
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-pie.jpg')
                            .text-wrapper
                              | 百分比
                              .gold-text.large-text
                                | 34%
                            .grey-box
                              | 距离上次结算
                              span.rise 10%
                              img(src='./images/rise.png')


                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-graph.jpg')
                            .text-wrapper
                              | 总获利
                              .gold-text.large-text
                                | 1000
                            .grey-box
                              | 距离上次结算
                              span.rise 10%
                              img(src='./images/rise.png')
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-token.jpg')
                            .text-wrapper
                              | 总注码
                              .gold-text.large-text
                                | 1000
                            .grey-box
                              | 距离上次结算
                              span.drop 10%
                              img(src='./images/drop.png')
                        #month-chart(style="width: 764px;height:620px;margin:0 auto;")

                      .tab-pane(id='halfyear')
                        .statistic
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-pie.jpg')
                            .text-wrapper
                              | 百分比
                              .gold-text.large-text
                                | 34%
                            .grey-box
                              | 距离上次结算
                              span.rise 10%
                              img(src='./images/rise.png')


                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-graph.jpg')
                            .text-wrapper
                              | 总获利
                              .gold-text.large-text
                                | 1000
                            .grey-box
                              | 距离上次结算
                              span.rise 10%
                              img(src='./images/rise.png')
                          .statistic-data
                            .img-wrapper
                              img(src='./images/chart-token.jpg')
                            .text-wrapper
                              | 总注码
                              .gold-text.large-text
                                | 1000
                            .grey-box
                              | 距离上次结算
                              span.drop 10%
                              img(src='./images/drop.png')
                        #halfyear-chart(style="width:764px;height:620px;margin:0 auto;")

              .col-xs-6.col-height.col-top

                .tab-wrap
                  .tab-inner-title
                    img(src='./images/bet-history-icon.jpg')
                    | 竞猜历史
                  .tab-inner-content.bet-history-info
                    form.form-inline
                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            |日期筛选 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | 近一周
                            option
                              | 最近一个月
                            option
                              | 最近三个月
                            option
                              | 最近一年
                            option(selected='selected')
                              | 全部

                      .form-group
                        .form-group-inner
                          label.control-label(for='selectDate')
                            | 特定日期 :
                          input.form-control(type='text' id='selectDate')

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            | 竞猜类型 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | Matel
                            option
                              | Exotics
                            option(selected='selected')
                              | 全部

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            | 比赛类型 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | LOL
                            option
                              | DOTA2
                            option(selected='selected')
                              | 全部

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            |联赛筛选 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | LCK
                            option
                              | EULCS
                            option
                              | LPL
                            option
                              | NALCS
                            option
                              | LMS
                            option(selected='selected')
                              | 全部

                      .form-group
                        .pull-right
                          a.done(href='#')
                            img(src='../images/continue.jpg')
                            span 确定
                    .row
                      .col-xs-12
                        ul.nav.nav-tabs
                          li.active
                            a(href='#bet')
                              | 待定竞猜
                          li
                            a(href='#history')
                              | 竞猜记录
                        .tab-content
                          .tab-pane.active#bet
                            .table-wrap
                              table.clearfix
                                thead
                                  tr
                                    td 下注编码
                                    td 竞猜日期
                                    td 下注金额
                                    td 获得金额
                                tbody
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr.highlight
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      span.white  5,000
                                    td
                                      | 取消
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr.highlight
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      span.white 5,000
                                    td
                                      | 取消
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')

                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr.highlight
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      span.white 5,000
                                    td
                                      | 取消
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')

                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')


                            .history-pagination.pagination
                              .pagination-wrapper
                                a.pagi-icon.pagination-first(href='#')
                                a.pagi-icon.pagination-prev(href='#')
                                span.indicator Page 1 of 17
                                a.pagi-icon.pagination-next(href='#')
                                a.pagi-icon.pagination-last(href='#')

                          .tab-pane#history
                            .table-wrap
                              table.clearfix
                                thead
                                  tr
                                    td 日期时间
                                    td 赛事类型
                                    td 比赛队伍
                                    td 下注类型
                                    td 收益
                                    td 游戏币
                                    td 输赢
                                tbody
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000

                            .history-pagination.pagination
                              .pagination-wrapper
                                a.pagi-icon.pagination-first(href='#')
                                a.pagi-icon.pagination-prev(href='#')
                                span.indicator Page 1 of 17
                                a.pagi-icon.pagination-next(href='#')
                                a.pagi-icon.pagination-last(href='#')

          .tab-pane#leaderboard
            .row
              .col-xs-12
                .leaderboard-wrapper
                  ul.nav.nav-tabs.clearfix.leaderboard-tab
                    li.active
                      a(href='#threeday-tab', data-toggle='tab') 三天挑战赛
                    li
                      a(href='#oneweek-tab',data-toggle='tab') 一周挑战赛
                    li
                      a(href='#onemonth-tab',data-toggle='tab') 每月挑战赛
                    li
                      a(href='#halfyear-tab',data-toggle='tab') 季度挑战赛
                    li.pull-right.lastupdated
                      | 更新时间 : 2016-12-27 18.41

                  .tab-content.leaderboard-tab-content
                    .tab-pane.active#threeday-tab
                      ul.nav.nav-tabs.clearfix.threeday-inner
                        li.active
                          a(href='#threeday-player', data-toggle='tab')
                            img(src='../images/leaderboard-chart.png')
                            | 玩家排行
                        li
                          a(href='#threeday-friend',data-toggle='tab')
                            img(src='../images/leaderboard-friend.png')
                            | 好友排行

                        li.leaderboard-date.pull-right
                          .date-label
                            .gold-text 结算日期
                            .date-value 2016-12-30 18.41
                          .leaderboard-countdown

                      .tab-content.leaderboard-tab-inner-content
                        .tab-pane.active#threeday-player
                          .table-wrap
                            .scrollWrap
                              ul
                                li.head
                                  span.rank
                                    img(src='./images/leaderboard-rank.png')
                                    | 排名
                                  span.user
                                    img(src='./images/leaderboard-user.png')
                                    | 游戏名
                                  span.level
                                    img(src='./images/leaderboard-level.png')
                                    | 段位
                                  span.balance
                                    img(src='./images/leaderboard-balance.png')
                                    | 所剩结余
                                  span.reward
                                    img(src='./images/leaderboard-reward.png')
                                    | 获利

                                li.first
                                  span.rank
                                    img(src='./images/gold-crown.png')
                                    img(src='./images/green-up.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')

                                li.second
                                  span.rank
                                    img(src='./images/silver-crown.png')
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/rise.png')

                                li.third
                                  span.rank
                                    img(src='./images/bronze-crown.png')
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/rise.png')

                                li
                                  span.rank
                                    | 4
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')

                                li
                                  span.rank
                                    | 5
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/rise.png')
                                li
                                  span.rank
                                    | 6
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/rise.png')
                                li
                                  span.rank
                                    | 7
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')
                                //li.view-more
                                  //a.more(href='#')
                                    //| 点击查看更多
                                    //img(src='./images/d-arrow.png')
                                li
                                  span.rank
                                    | 8
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')
                                li
                                  span.rank
                                    | 9
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/rise.png')
                                li
                                  span.rank
                                    | 10
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')
                                li
                                  span.rank
                                    | 11
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/rise.png')
                                li
                                  span.rank
                                    | 12
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')
                                li
                                  span.rank
                                    | 13
                                    img(src='./images/red-down.png')
                                  span.user
                                    img(src='./images/user.png')
                                    | Dengdan
                                  span.level
                                    img(src='./images/badge.png')
                                    | 白银2
                                  span.balance
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                  span.reward
                                    img(src='./images/leaderboard-coin.png')
                                    | 4,000,000
                                    img(src='./images/drop.png')

                        .tab-pane#threeday-friend
                          | three day friend

                    .tab-pane#oneweek-tab
                      ul.nav.nav-tabs.clearfix.oneweek-inner
                        li.active
                          a(href='#oneweek-player', data-toggle='tab')
                            img(src='../images/leaderboard-chart.png')
                            | 玩家排行
                        li
                          a(href='#oneweek-friend',data-toggle='tab')
                            img(src='../images/leaderboard-friend.png')
                            | 好友排行
                      .tab-content.leaderboard-tab-inner-content
                        .tab-pane.active#oneweek-player
                          | one week player
                        .tab-pane#oneweek-friend
                          | one week friend

                    .tab-pane#onemonth-tab
                      ul.nav.nav-tabs.clearfix.onemonth-inner
                        li.active
                          a(href='#onemonth-player', data-toggle='tab')
                            img(src='../images/leaderboard-chart.png')
                            | 玩家排行
                        li
                          a(href='#onemonth-friend',data-toggle='tab')
                            img(src='../images/leaderboard-friend.png')
                            | 好友排行
                      .tab-content.leaderboard-tab-inner-content
                        .tab-pane.active#onemonth-player
                          | one mth player
                        .tab-pane#onemonth-friend
                          | one mth friend

                    .tab-pane#halfyear-tab
                      ul.nav.nav-tabs.clearfix.halfyear-inner
                        li.active
                          a(href='#halfyear-player', data-toggle='tab')
                            img(src='../images/leaderboard-chart.png')
                            | 玩家排行
                        li
                          a(href='#halfyear-friend',data-toggle='tab')
                            img(src='../images/leaderboard-friend.png')
                            | 好友排行
                      .tab-content.leaderboard-tab-inner-content
                        .tab-pane.active#halfyear-player
                          | halfyear player
                        .tab-pane#halfyear-friend
                          | halfyear friend

                  .leaderboard-info
                    .enter-contest
                      img.img-responsive(src='./images/leaderboard-info.png')
                      .enter-contest-content
                        .up-gem
                          img(src='./images/gem-img.png')
                          | 宝石彩池
                          br
                          span.million
                            | 0
                          span.hundred-thounsand
                            | 0
                          span.ten-thounsand
                            | 0
                          span.thousand
                            | 0
                          span.hundred
                            | 0
                          span.ten
                            | 0
                          span.unit
                            | 0
                        .down-participant
                          img(src='./images/participant.png')
                          | 参加人数

                          br
                          span.million
                            | 0
                          span.hundred-thounsand
                            | 0
                          span.ten-thounsand
                            | 0
                          span.thousand
                            | 0
                          span.hundred
                            | 0
                          span.ten
                            | 0
                          span.unit
                            | 0
                    .poll
                      h3
                        img(src='./images/gem-img.png')
                        | 派彩
                      .table-wrap
                        .scrollWrap
                          ul
                            li.head
                              span.left
                                img(src='./images/leaderboard-rank.png')
                                | 排名
                              span.right
                                img(src='./images/gem-img.png')
                                | 获得宝石

                            li.first
                              span.left
                                img(src='./images/poll-gold.png')
                              span.right
                                img(src='./images/gem-img.png')
                                span.gold-text 5,000,000

                            li.second
                              span.left
                                img(src='./images/poll-silver.png')
                              span.right
                                img(src='./images/gem-img.png')
                                span.gold-text 5,000,000

                            li.third
                              span.left
                                img(src='./images/poll-bronze.png')
                              span.right
                                img(src='./images/gem-img.png')
                                span.gold-text 5,000,000

                            li
                              span.left
                                | 4
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000

                            li
                              span.left
                                | 5
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000

                            li
                              span.left
                                | 6-100
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000

                            li
                              span.left
                                | 101-500
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000

                            li
                              span.left
                                | 501-700
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000
                            li
                              span.left
                                | 501-700
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000
                            li
                              span.left
                                | 501-700
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000
                            li
                              span.left
                                | 501-701
                              span.right
                                img(src='./images/gem-img.png')
                                | 5,000,000


  div(style='display:none')
    #add-lol-modal
      .modal-header
        h4.modal-title 英雄联盟账号绑定
      .modal-body
        img.masthead(src='./images/add-lol-account.jpg')
        form.form-horizontal
          .col-xs-12
            .form-group
              .col-xs-5.label.text-right
                label(for='lolServer') 服务器
              .col-xs-5.input.text-left
                select.default(name='lolServer')
                  option 请选择服务器
                  option(value='korean') 韩服
                  option(value='us') 美服
                  option(value='euro') 欧服
                  option(value='tw') 台服
                  option(value='cn') 国服

            .form-group
              .col-xs-5.label.text-right
                label(for='lolArea') 大区
              .col-xs-5.input.text-left
                select.default(name='lolArea')
                  option 请选择游戏所在大区
                  option 一区

            .form-group
              .col-xs-5.label.text-right
                label(for='lolNickName') 游戏昵称
              .col-xs-5.input.text-left
                input(type='text', id='lolNickName',name='lolNickName',placeholder='请输入您的游戏昵称')
            hr
           .row.text-center
             a.close-modal.done(href='#')
               img(src='images/continue.jpg')
               span 确定

  div(style='display:none')
   #add-dota-modal
     .modal-header
       h4.modal-title DOTA2账号绑定
     .modal-body
       img.masthead(src='./images/add-dota-account.jpg')
       form.form-horizontal
         .col-xs-12
           .form-group
             .col-xs-5.label.text-right
               label(for='dotaServer') 服务器
             .col-xs-5.input.text-left
               select.default(name='dotaServer')
                 option 请选择服务器
                 option(value='korean') 韩服
                 option(value='us') 美服
                 option(value='euro') 欧服
                 option(value='tw') 台服
                 option(value='cn') 国服

           .form-group
             .col-xs-5.label.text-right
               label(for='dotaNickName') 游戏昵称
             .col-xs-5.input.text-left
               input(type='text', id='dotaNickName',name='dotaNickName',placeholder='请输入您的游戏昵称')
           hr
          .row.text-center
            a.close-modal.done(href='#')
              img(src='images/continue.jpg')
              span 确定

  div(style='display:none')
    #avatar-modal
      .modal-header
        h4.modal-title.text-center 修改头像
      .modal-body
        ul.nav.nav-tabs
          li.active
            a(href='#upload-avatar', data-toggle='tab')
              | 自定义头像
          li
            a(href='#pick-avatar', data-toggle='tab')
              | 经典头像
        .tab-content
          .tab-pane.active#upload-avatar
            img.img-responsive.uploaded(src='images/avatar.png')

            label.btn.yellow
              input.sr-only#inputImage(type='file', accept='image/*')
              | 本地上載
          .tab-pane#pick-avatar
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
        .preview-area
          | 预览
          .preview-sm
            .preview
            | 60x60
          .preview-md
            .preview
            | 100x100
        .clearfix
        hr
        .form-group
          .col-xs-12
            a.button.outline-red.pull-left.close-modal(href='#') 取消
            a.button.dark-red.pull-right.close-modal(href='#') 确定


  div(style='display:none')
    #invite-modal.red.refer-modal
      .modal-inner
        .modal-header
          h4.modal-title 邀请好友
            span.grey-out 推荐成功即可获得~
        .modal-body
          .row
            .col-xs-12.modal-img-wrapper
              img.modal-img(src='./images/invite-bg.jpg')
              .modal-img-text
                h4 邀请成功即可获得100游戏币
                p 每日邀请不上限，好友注册完成基本信息任务即可获得
          .row
            .col-xs-12.text-center
              h2 您的好友通过邮箱链接进入网站即可注册
              img(src='./images/missing-mail.png')
              |   邮箱
              input(type='text', placeholder='请填写好友的邮箱')
          hr
          .row
            .col-xs-11.text-left.col-xs-push-1
              | 您的好友必须成功注册并填写以下信息才能获得
              ul.missing-item
                li
                  img(src='./images/missing-phone.png')
                  | 手机号
                li
                  img(src='./images/missing-mail.png')
                  | 邮箱
                li
                  img(src='./images/missing-account.png')
                  | 游戏账号
          hr
          .row.text-center
            a.close-modal.done(href='#')
              img(src='images/continue.jpg')
              span 发送

  div(style='display:none')
    #share-modal.red.refer-modal
      .modal-inner
        .modal-header
          h4.modal-title 分享好友
            span.grey-out 与好友共享辉煌时刻~
        .modal-body
          .row
            .col-xs-12.modal-img-wrapper
              img.modal-img(src='./images/share-bg.jpg')
              .refer-show-rank
                img(src='./images/badge.png')
                .rating(data-rating="3")
                .level 白银VIP2级
          .row.align-modal-img
            .col-xs-10.text-center
              input.copy-me#copy-me(type='text', readOnly, value='http://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word1&st=-1&cs21651613315=3660361838%pg&fro...')
            .col-xs-2
              a.btn.yellow.copy-me-btn(href='#', data-clipboard-target="#copy-me")
                | 复制
          .row
            .col-xs-12.text-center
              | 选择邀请社交平台：
              ul.share-platform
                li
                  a(href='http://www.twitter.com', target='_blank')
                    img(src='./images/twitter-share.jpg')
                li
                  a(href='http://www.qq.com', target='_blank')
                    img(src='./images/qq-share.jpg')
                li
                  a(href='http://www.weibo.com', target='_blank')
                    img(src='./images/weibo-share.jpg')
                li
                  a(href='http://www.tencent.com', target='_blank')
                    img(src='./images/wechat-share.jpg')
                li
                  a(href='http://www.facebook.com', target='_blank')
                    img(src='./images/fb-share.jpg')

  div(style='display:none')
    #enter-modal.red.contest-modal
      .modal-inner
        .modal-header
          h4.modal-title 信息不完整
        .modal-body
          .row
            .col-xs-12
              img.modal-img(src='./images/contest-missing-info.jpg')
              br
              | 您必须填写以下信息才能参加比赛模式，进入排行榜赢取宝石
              ul.missing-item
                li
                  img(src='./images/warning.png')

                  img(src='./images/missing-phone.png')
                  | 手机号
                li
                  img(src='./images/warning.png')

                  img(src='./images/missing-mail.png')
                  | 邮箱
                li
                  img(src='./images/warning.png')

                  img(src='./images/missing-account.png')
                  | 游戏账号
          hr
          .row.text-center
            a.close-modal(href='./personal-center-default.html')
              img(src='images/continue.jpg')
              span 立即填写
