extends layouts/default

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
          .col-xs-10.less-pad
            .frame
              .bronze.vertical-text
                | 青铜段位
                span.glyphicon.glyphicon-chevron-down
              .silver.vertical-text
                | 白银段位
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .title
                  | 当前段位：
                  strong 白银VIP2级
                .state-content
                  .state-content-left
                    img(src='./images/badge.jpg')

                    .rating(data-rating="3")
                  .state-content-right
                    .red-block
                      h5 下注现金
                      | 回赠：
                      span.gold-text 0.4%
                    .red-block
                      h5 VIP点数优惠
                      | 每
                      span.gold-text 100
                      | 注码获
                      span.gold-text 1
                      | 点
                    .level.clearfix
                      .level-left
                        | 距离升级差
                      .level-right.gold-text
                        | 50经验值
                    .progress
                      .progress-bar(style="width:50%") 50/100

              .gold.vertical-text
                | 黃金段位
                span.glyphicon.glyphicon-chevron-down
              .platinum.vertical-text
                | 铂金段位
                span.glyphicon.glyphicon-chevron-down
              .diamond.vertical-text
                | 钻石段位
                span.glyphicon.glyphicon-chevron-down

      .col-xs-6
        .row
          .col-xs-6
            img.img-responsive(src='./images/playercenter-ad.png')

          .col-xs-6
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container
    .row
      .col-xs-12
        ul.nav.nav-tabs.pull-right.clearfix.personal-tab
          li.active
            a(href='#general', data-toggle='tab') 基本信息
          li
            a(href='#message',data-toggle='tab') 交易信息

        .tab-content.personal-tab-content
          .tab-pane.active#general
            .row-height

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/transaction-summary.jpg')
                    | 结账总览
                  .tab-inner-content
                    .trans-box.trans-red
                      .ribbon
                        span hot
                      .upper
                        .upper-left
                          img(src='./images/transaction-1.jpg')
                        .upper-right
                          .label 现金余额：
                          .value
                            .sm $
                            .lg 10,000
                        .clearfix
                          | 最近获利表现
                          img.drop-img(src='./images/drop.png')
                          span.drop $10,000( - 0.03% )
                      .call-to-action
                        .btn.dark-red.large
                          img(src='./images/trans-1-btn.png')
                          | 充值赢更多

                    .trans-box.trans-gold
                      .ribbon
                        span hot
                      .upper
                        .upper-left
                          img(src='./images/transaction-2.jpg')
                        .upper-right
                          .label 所剩游戏币：
                          .value
                            .sm 金币
                            .lg 10,000
                        .clearfix
                          | 最近获利表现
                          img.rise-img(src='./images/rise.png')
                          span.rise $10,000( + 0.03% )
                      .call-to-action
                        .btn.yellow.large
                          img(src='./images/trans-2-btn.png')
                          | 充值赢更多

                    .trans-box.trans-blue
                      .ribbon
                        span hot
                      .upper
                        .upper-left
                          img(src='./images/transaction-3.jpg')
                        .upper-right
                          .label VIP点数：
                          .value
                            .sm 点数
                            .lg 10,000
                        .clearfix
                          | 下注：VIP点数比例为1000:1
                      .call-to-action
                        .btn.blue.large
                          img(src='./images/trans-3-btn.png')
                          | 兑换精彩礼品


                .tab-wrap
                  .tab-inner-title
                    img(src='./images/personal-detail.jpg')
                    | 个人信息
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | 当前完成度为
                      span.gold-text 55%
                  .tab-inner-content
                    .tab-box.grey.clearfix
                      | 法定全名：
                      input(type='text')
                      a.btn.dark-red 确定
                      .pull-right
                        img(src='./images/tab-coin.jpg')
                        | 即时领取
                        span.gold-text 100
                        | 金币
                        a.btn.chrome
                          | 领取
                        span.claim
                          img(src='./images/claim-red.png')
                          span.claim-txt 未完成

                    .tab-box.red.clearfix
                      | 国籍：
                      img(src='./images/zh-CN.png' style='width:25px')
                      span.gold-text
                        | 中国
                      .pull-right
                        a.btn.yellow
                          | 修改





                    .tab-box.red.clearfix
                      | 性别：
                      span.gold-text
                        | 男
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        img(src='./images/tab-coin.jpg')
                        span.gold-text 100
                        | 金币
                        a.btn.dark-red
                          | 领取
                      span.claim
                        img(src='./images/claim-red.png')
                        span.claim-txt 领取

                    .tab-box.red.clearfix
                      | 出生日期：
                      span.gold-text
                        | 1990.08.03
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        a.btn.yellow
                          | 修改


                    .tab-box.grey.clearfix
                      | 婚姻状况：
                      input(type='text')
                      a.btn.dark-red 确定
                      .pull-right
                        img(src='./images/tab-coin.jpg')
                        span.gold-text 100
                        | 金币
                        a.btn.chrome
                          | 领取
                        span.claim
                          img(src='./images/claim-red.png')
                          span.claim-txt 未领取


                    .tab-box.red.clearfix
                      | 邮箱：
                      span.gold-text
                        | 64894651897@qq.com
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        img(src='./images/tab-coin.jpg')
                        span.gold-text 100
                        | 金币
                        a.btn.dark-red
                          | 领取
                        span.claim
                          img(src='./images/claim-red.png')
                          span.claim-txt 未领取

                    .tab-box.red.clearfix
                      | 手机：
                      span.gold-text
                        | +86 13728735224
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        a.btn.yellow
                          | 修改

                    .tab-box.red.clearfix
                      | 更改密码:
                      span.gold-text
                        | *******
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        a.btn.yellow
                          | 修改

                    .tab-box.red.clearfix
                      | 住址：
                      span.gold-text
                        | 广东省深圳市福田区
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        a.btn.yellow
                          | 修改

                    .tab-box.red.clearfix
                      | 下注上限：
                      span.gold-text
                        | $50000
                      img(src='./images/personal-tick.png' style='width:25px')
                      .pull-right
                        img(src='./images/tab-coin.jpg')
                        span.gold-text 100
                        | 金币
                        a.btn.dark-red
                          | 领取
                        span.claim
                          img(src='./images/claim-red.png')
                          span.claim-txt 未领取

                    h3.secondary-title
                    | 我的账户 >
                    span.gold-text 我的银行卡

                    .payment-list
                      .payment
                        a.payment-check.active
                        .payment-img
                          img(src='./images/visa.jpg')
                        .payment-content
                          p.payment-name VISA
                          |  为默认支付方式
                          a.btn.dark-red
                            | 编辑
                      .payment
                        a.payment-check
                        .payment-img
                          img(src='./images/mastercard.jpg')
                        .payment-content
                          p.payment-name Mastercard
                          |  快捷支付方式
                          a.btn.dark-red
                            | 编辑
                      .payment
                        a.payment-check
                        .payment-img
                          img(src='./images/paypal.jpg')
                        .payment-content
                          p.payment-name Paypal
                          |  快捷支付方式
                          a.btn.dark-red
                            | 编辑
                      .payment
                        a.payment-check
                        .payment-img
                          img(src='./images/taobao.jpg')
                        .payment-content
                          p.payment-name 支付宝
                          |  快捷支付方式
                          a.btn.dark-red
                            | 编辑

                  .tab-inner-title
                    img(src='./images/share.jpg')
                    | 邀请玩家
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | 未完成
                  .tab-inner-content
                    .share-helper
                      .share-image
                        img(src='./images/share-img.jpg')
                      .share-content
                        .share-description
                          span.gold-text 邀请立即拥有$100
                          | 邀请三位玩家即可拥有，每日限领取一次
                        .share-function
                          input(placeholder='请输入对方的手机号/邮箱')
                          .btn.dark-red
                            | 邀请领取

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/milestone.jpg')
                    | 里程碑
                  .tab-inner-content
                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-diamond.png')
                        img.cash(src='./images/cash-100.png')
                      .milestone-progress
                        span.gold-text $100现金回赠
                        |（升级至下一个VIP，尚余5,000经验值）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.chrome 未完成

                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-flag.png')
                        img.cash(src='./images/cash-50.png')
                      .milestone-progress
                        span.gold-text $50现金回赠
                        |（每月投注额达10,000本月投注11,000）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.dark-red 领取


                .tab-wrap
                  .tab-inner-title
                    img(src='./images/mission.jpg')
                    | 常规任务
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | 50/80 未接任务
                  .tab-inner-content.mission-wrap
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn 签到
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn 签到

                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200.png')
                        a.btn 充值

                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200.png')
                        a.btn 充值
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn 签到
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn 签到
                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200.png')
                        a.btn 充值
                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200.png')
                        a.btn 充值
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text 签到
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn 签到
                    .mission-block.yellow-block
                          .mission-icon
                            img(src='./images/mission-money.png')

                          .mission-progress
                            span.big-text 充值
                            |（充值满500金币即可再返200游戏币）
                            .pull-right 220/500
                            .progress
                              .progress-bar(style="width:60%")
                          .mission-button
                            img.cash(src='./images/game-200.png')
                            a.btn 充值
                  .tab-inner-title
                    img(src='./images/referral.jpg')
                    | 立即分享
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | 未完成
                  .tab-inner-content
                    .share-helper
                      .share-image
                        img(src='./images/referral-img.jpg')
                      .share-content
                        .share-description
                          span.gold-text 邀请立即拥有$20
                          | 分享一次即可获得50金币，分享越多金币越多
                        .share-function
                          input(value='http://gaming.esports668.com/?refid=123')
                          .btn.dark-red
                            | 分享领取







          .tab-pane#message
            .row-height
              .col-xs-6.col-height.col-top
                div.
                  | One
              .col-xs-6.col-height.col-top
                div
                  | Two
