extends layouts/default-logged-en

block content
  .container.personal-center
    .row
      .col-xs-6
        .row.same-height
          .col-xs-2.avatar
            img.img-circle(src='images/avatar.png')
            | Player Name
            a.update-avatar.btn.silver.modal-btn#launch-avatar(href='#avatar-modal')
              | Edit
          .col-xs-10.less-pad
            .frame.profile
              .silver.vertical-text
                | Silver
                span.glyphicon.glyphicon-chevron-right

              .current-state
                .state-content
                  .state-content-left
                    img(src='./images/badge.png')

                    .rating(data-rating="3")
                  .state-content-right
                    .title
                      | Your Rank：
                      strong Silver
                    .level.clearfix
                      .level-left
                        | EXP to Next Rank
                      .level-right.gold-text
                        | 50 EXP
                    .progress
                      .progress-bar(style="width:50%") 50/100

                  .state-content-share
                    ul.share-vertical
                      li
                        a
                          img(src='./images/fb.png')
                      li
                        a
                          img(src='./images/twitter.png')
                      li
                        a
                          img(src='./images/weibo.png')
                    a.btn.large.yellow(href='#')
                      img(src='./images/share-symbol.png')
                      br
                      | Share


      .col-xs-6
        .row
          .col-xs-6
            img.img-responsive(src='./images/playercenter-ad.png')

          .col-xs-6
            img.img-responsive(src='./images/playercenter-ad-2.png')



  .container
    .row
      .col-xs-12
        ul.nav.nav-tabs.pull-right.clearfix.personal-tab
          li
            a(href='#general', data-toggle='tab') Basic Summary
          li.active
            a(href='#message',data-toggle='tab') Record & Analysis
        .wraptranpezoid
          .trapezoidLine1
            .trapezoidLine2
          .trapezoidLine3
            .trapezoidLine4


        .tab-content.personal-tab-content
          .tab-pane#general
            .row-height

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/transaction-summary.jpg')
                    | Wallet Summary
                  .tab-inner-content
                    .caption
                      | 您已经进入
                      span.gold 3
                      |个游戏币比赛,
                      a(href='#topup-modal')
                        | 立即下注，
                      | 冲击排行榜
                      .pull-right
                        a.blue-gradient#launch-topup(href='#')
                          img(src='../images/personal-chart.png')
                          | Leader Board
                    .clearfix
                    .brown.med-box
                      img(src='./images/brown-pic.jpg')
                      .med-left
                        | 游戏币余额:
                        span.italic.gold
                          span.small-unit
                            |$
                          | 100,000
                      .med-right
                        | 最近获利表现

                        img.drop-img(src='./images/drop.png')
                        span.drop
                          | $10,000( - 0.03% )
                    .purple.med-box
                      img(src='./images/purple-pic.jpg')
                      .med-left
                        | 宝石数量:
                        span.italic.gold
                          span.small-unit
                            |$
                          | 100,000
                      .med-right
                        a.btn.yellow(href='#')
                          img(src='./images/personal-cart.png')
                          | Our Store

                .tab-wrap
                  .tab-inner-title
                    img(src='./images/personal-detail.jpg')
                    | Personal Info
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      span.gold-text 55%
                      | of Completion

                  .tab-inner-content


                    .tab-box.red.clearfix
                      | Email：
                      span.done-state
                        span.gold-text
                          | 64894651897@qq.com
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 64894651897@qq.com
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.final-state(href='#') Confirm
                      .pull-right
                        span.claim-state
                          a.btn.yellow.edit-btn(href='#')
                            | Edit

                    .tab-box.red.clearfix
                      | Phone：
                      span.original-state
                        select.default
                          option(selected='selected')
                           |+86
                        input.default.long(placeholder='Please enter your phone number')
                        a.btn.dark-grey.verification(href='#',data-toggle='tooltip',title='Verification code sent',data-placement='top',data-trigger='manual')
                          | code
                        span.editable.short
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        select.default
                          option(selected='selected')
                           |+86
                        input.default.long(placeholder='Please enter your phone number')
                        a.btn.dark-grey.verification(href='#',data-toggle='tooltip',title='Verification code sent',data-placement='top',data-trigger='manual')
                          | code
                        span.editable.short
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | +86 13728653659
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | +86 13728653659
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM

                    .tab-box.red.clearfix
                      | Gender：
                      span.original-state
                        select.default
                          option(selected='selected')
                            |Male / Female
                          option
                            |Male
                          option
                            |Female
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        select.default
                          option(selected='selected')
                            |Male / Female
                          option
                            |Male
                          option
                            |Female
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | Male
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | Male
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM

                    .tab-box.red.clearfix
                      | DOB：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='detailDOB')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='confirmDOB')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | 1990.06.13
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 1990.06.13
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM


                    .tab-box.grey.clearfix
                      | Full Name：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' placeholder='')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' placeholder='姓名')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | 邓某某
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 邓某某
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM


                    .tab-box.grey.clearfix
                      | Wechat：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='detailWechat')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='confirmWechat')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | A12345
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | A12345
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM

                    .tab-box.grey.clearfix
                      | QQ:
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='detailQQ')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text' id='confirmQQ')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | A12345
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | A12345
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM

                    .tab-box.red.clearfix
                      | Nationality：
                      span.original-state
                        select.default
                          option(selected='selected')
                            | Country
                          option
                            | China
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        select.default
                          option(selected='selected')
                            | Country
                          option
                            | China
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | China
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | China
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM


                    .tab-box.red.clearfix
                      | Password:
                      span.confirm-state
                        span.editable.long
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        span.editable.long
                          img(src='../images/detail-edit.gif')
                          input(type='text' placeholder='Confirm Password')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | *********
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | *********
                      .pull-right
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim


                    .tab-box.red.clearfix
                      | Address：
                      span.original-state
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.next-state(href='#') Confirm
                      span.confirm-state(style='display:none')
                        span.editable
                          img(src='../images/detail-edit.gif')
                          input(type='text')
                        a.btn.dark-red.final-state(href='#') Confirm
                      span.done-state(style='display:none')
                        span.gold-text
                          | 广东省深圳市福田区泰然大厦D座1002
                        img(src='./images/personal-tick.png' style='width:25px')
                      span.claim-state(style='display:none')
                        span.gold-text
                          | 广东省深圳市福田区泰然大厦D座1002
                      .pull-right
                        span.done-state
                          img(src='./images/tab-coin.jpg')
                          span.gold-text 100
                          | Coin
                        span.original-state
                          a.btn.chrome
                            | Claim
                        span.done-state(style='display:none;')
                          a.btn.dark-red.claim-btn(href='#')
                            | Claim
                        span.claim-state(style='display:none')
                          a.btn.yellow.edit-btn(href='#')
                            | Edit
                        span.claim
                          span.original-state
                            img(src='./images/claim-grey.png')
                            span.claim-txt TO-DO
                          span.done-state(style='display:none')
                            img(src='./images/claim-red.png')
                            span.claim-txt CLAIM

                  .tab-inner-title
                    img(src='./images/share.jpg')
                    | Invite
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | Incomplete
                  .tab-inner-content
                    .share-helper
                      .share-image
                        img(src='./images/cash-img.jpg')
                      .share-content
                        .share-description
                          span.gold-text 邀请立即拥有$100现金
                          | 邀请三位玩家即可拥有，每日限Claim一次
                        .share-function
                          input(placeholder='请输入对方的手机号/邮箱')
                          .btn.dark-red
                            | 邀请Claim
                    .share-helper
                      .share-image
                        img(src='./images/share-img.jpg')
                      .share-content
                        .share-description
                          span.gold-text 邀请立即拥有$100游戏币
                          | 邀请三位玩家即可拥有，每日限Claim一次
                        .share-function
                          input(placeholder='请输入对方的手机号/邮箱')
                          .btn.yellow
                            | 邀请Claim

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/milestone.jpg')
                    | Milestone
                  .tab-inner-content
                    .milestone-block
                      .milestone-icons
                        img(src='./images/milestone-diamond.png')
                        img.cash(src='./images/cash-100.png')
                      .milestone-progress
                        span.gold-text $100现金回赠
                        |（5000 more EXP to next VIP level）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.dark-red.huge Incomplete

                    .milestone-block.milestone-lock
                      .milestone-icons
                        img(src='./images/milestone-locked.png')
                        img.cash(src='./images/cash-cn-locked.png')
                      .milestone-progress
                        span $50现金回赠
                        |（每月投注额达10,000本月投注11,000）
                        .progress
                          .progress-bar(style="width:60%")
                      .milestone-button
                        a.btn.chrome.huge Locked


                .tab-wrap
                  .tab-inner-title
                    img(src='./images/mission.jpg')
                    | 常规任务
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | 50/80 未接任务
                  .tab-inner-content.mission-wrap
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')
                      .mission-progress
                        span.big-text Sign In
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn Sign In
                    .mission-block.grey-block
                      .mission-icon
                        img(src='./images/mission-locked.png')
                      .mission-progress
                        span.big-text 任务
                        | （您的等级还到达VIP3，距离升级VIP3还差
                        span.gold-text 1300
                        |经验值）
                        .progress
                          .progress-bar(style="width:0")
                      .mission-button
                        img.cash(src='./images/cash-20-locked.png')
                        a.btn Locked

                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200-cns.png')
                        a.btn 充值

                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200-cn.png')
                        a.btn 充值
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text Sign In
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn Sign In
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text Sign In
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn Sign In
                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200.png')
                        a.btn 充值
                    .mission-block.yellow-block
                      .mission-icon
                        img(src='./images/mission-money.png')

                      .mission-progress
                        span.big-text 充值
                        |（充值满500金币即可再返200游戏币）
                        .pull-right 220/500
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/game-200.png')
                        a.btn 充值
                    .mission-block.red-block
                      .mission-icon
                        img(src='./images/mission-calendar.png')

                      .mission-progress
                        span.big-text Sign In
                        | （连续签到10天即可获得20金币）
                        .pull-right 6/10
                        .progress
                          .progress-bar(style="width:60%")
                      .mission-button
                        img.cash(src='./images/cash-20.png')
                        a.btn Sign In
                    .mission-block.yellow-block
                          .mission-icon
                            img(src='./images/mission-money.png')

                          .mission-progress
                            span.big-text 充值
                            |（充值满500金币即可再返200游戏币）
                            .pull-right 220/500
                            .progress
                              .progress-bar(style="width:60%")
                          .mission-button
                            img.cash(src='./images/game-200.png')
                            a.btn 充值
                  .tab-inner-title
                    img(src='./images/referral.jpg')
                    | Share
                    span.pull-right.info
                      img(src='./images/warning.jpg')
                      | Incomplete
                  .tab-inner-content
                    .share-helper
                      .share-image
                        img(src='./images/cash-img.jpg')
                      .share-content
                        .share-description
                          span.gold-text 邀请立即拥有$20
                          | 分享一次即可获得50金币，分享越多金币越多
                        .share-function
                          input(value='http://gaming.esports668.com/?refid=123')
                          .btn.dark-red
                            | 分享Claim
                    .share-helper
                      .share-image
                        img(src='./images/share-img.jpg')
                      .share-content
                        .share-description
                          span.gold-text 邀请立即拥有$20
                          | 分享一次即可获得50金币，分享越多金币越多
                        .share-function
                          input(value='http://gaming.esports668.com/?refid=123')
                          .btn.yellow
                            | 分享Claim

          .tab-pane.active#message
            .row-height
              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/chart.jpg')
                    | Leaderboard
                  .tab-inner-content
                    .trans-box.trans-golden
                      .medal
                        img(src='../images/medal-gold.png')
                      .box-title
                        img(src='../images/gold-icon.png')
                        | 3-days Challenge
                      .box-content
                        span.fancy
                          | 1
                        span.unit
                          | st
                        span.divider
                        span.number
                          | 10,000
                        a.btn.gold(href='#')
                          | See Ranking
                    .trans-box.trans-silver
                      .medal
                        img(src='../images/medal-silver.png')
                      .box-title
                        img(src='../images/silver-icon.png')
                        | Weekly Challenge
                      .box-content
                        span.fancy
                          | 2
                        span.unit
                          | nd
                        span.divider

                        span.number
                          | 10,000
                        a.btn.silver(href='#')
                          | See Ranking
                    .trans-box.trans-bronze
                      .medal
                        img(src='../images/medal-bronze.png')
                      .box-title
                        img(src='../images/bronze-icon.png')
                        | Monthly Challenge
                      .box-content
                        span.fancy
                          | 1,000
                        span.unit
                          | th
                        span.divider

                        span.number
                          | 10,000
                        a.btn.bronze(href='#')
                          | See Ranking
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/wallet-icon.jpg')
                    | 钱包金额走势
                    .pull-right
                      select.form-control
                        option(selected='selected')
                          | 日期赛选
                  .tab-inner-content
                    #wallet-chart(style="width: 100%;height:620px;margin:0 auto;")

              .col-xs-6.col-height.col-top
                .tab-wrap
                  .tab-inner-title
                    img(src='./images/hot-game.jpg')
                    | Tournament Mode
                  .tab-inner-content.no-pad-left-right.hot-games
                    .trans-box
                      .trapezium
                        | 游戏名称
                      img.hot-bg(src='../images/hot-game-placeholder.jpg')
                      a.btn.gold.outer
                        | Join Now
                    .trans-box
                      .trapezium
                        | 游戏名称
                      img.hot-bg(src='../images/hot-game-placeholder.jpg')
                      a.btn.gold.outer
                        | Join Now

                    .trans-box
                      .trapezium
                        | 游戏名称
                      img.hot-bg(src='../images/hot-game-placeholder.jpg')
                      a.btn.gold.outer
                        | Join Now

                .tab-wrap
                  .tab-inner-title
                    img(src='./images/bet-history-icon.jpg')
                    | Bet History
                  .tab-inner-content.bet-history-info
                    form.form-inline
                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            |Select Date:
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | Last 3-days
                            option
                              | Last Week
                            option
                              | Recent Montsh
                            option(selected='selected')
                              | All

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            | 特定日期 :
                          input.form-control(type='text' id='selectDate')

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            | 盘口类型 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | Matel
                            option
                              | Exotics
                            option(selected='selected')
                              | 全部

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            |游戏类型 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | LOL
                            option
                              | DOTA2
                            option(selected='selected')
                              | 全部

                      .form-group
                        .form-group-inner
                          label.control-label(for='dateFilter')
                            |联赛筛选 :
                          select.form-control(name='dateFilter' id='dateFilter')
                            option
                              | LCK
                            option
                              | EULCS
                            option
                              | LPL
                            option
                              | NALCS
                            option
                              | LMS
                            option(selected='selected')
                              | 全部

                      .form-group
                        .pull-right
                          a.done(href='#')
                            img(src='../images/continue.jpg')
                            span Confirm
                    .row
                      .col-xs-12
                        ul.nav.nav-tabs
                          li.active
                            a(href='#bet')
                              | 待定注码
                          li
                            a(href='#history')
                              | 交易记录

                        .tab-content
                          .tab-pane.active#bet
                            .table-wrap
                              table.clearfix
                                thead
                                  tr
                                    td 下注编码
                                    td 下注日期
                                    td 下注金额
                                    td 获得金额
                                tbody
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr.highlight
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      span.white  5,000
                                    td
                                      | 取消
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr.highlight
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      span.white 5,000
                                    td
                                      | 取消
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')

                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr.highlight
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      span.white 5,000
                                    td
                                      | 取消
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.drop 4,080
                                      img.drop-img(src='../images/drop.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')
                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')

                                  tr
                                    td DFE2416548648
                                    td 2016 / 11 / 07 19:50
                                    td
                                      | 5,000
                                    td
                                      span.rise 4,080
                                      img.drop-img(src='../images/rise.png')


                            .history-pagination.pagination
                              .pagination-wrapper
                                a.pagi-icon.pagination-first(href='#')
                                a.pagi-icon.pagination-prev(href='#')
                                span.indicator Page 1 of 17
                                a.pagi-icon.pagination-next(href='#')
                                a.pagi-icon.pagination-last(href='#')

                          .tab-pane#history
                            .table-wrap
                              table.clearfix
                                thead
                                  tr
                                    td 日期时间
                                    td 赛事类型
                                    td 比赛队伍
                                    td 下注类型
                                    td 赔率
                                    td 金额
                                    td 输赢
                                tbody
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.drop -6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000
                                  tr
                                    td 2016/07/07
                                    td
                                      img(src='../images/history-league.jpg')
                                    td
                                      img(src='../images/history-teama.jpg')
                                      | QG VS RNG
                                      img(src='../images/history-teamb.jpg')
                                    td
                                      | Game1/FB
                                    td @1.678
                                    td $5000
                                    td.rise +6000

                            .history-pagination.pagination
                              .pagination-wrapper
                                a.pagi-icon.pagination-first(href='#')
                                a.pagi-icon.pagination-prev(href='#')
                                span.indicator Page 1 of 17
                                a.pagi-icon.pagination-next(href='#')
                                a.pagi-icon.pagination-last(href='#')


  div(style='display:none')
    #avatar-modal
      .modal-header
        h4.modal-title.text-center Edit头像
      .modal-body
        ul.nav.nav-tabs
          li.active
            a(href='#upload-avatar', data-toggle='tab')
              | 自定义头像
          li
            a(href='#pick-avatar', data-toggle='tab')
              | 经典头像
        .tab-content
          .tab-pane.active#upload-avatar
            img.img-responsive.uploaded(src='images/avatar.png')

            label.btn.yellow
              input.sr-only#inputImage(type='file', accept='image/*')
              | 本地上載
          .tab-pane#pick-avatar
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-aatrox.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-ahri.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-akali.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-alistar.jpg')
              .name
                | Avatar Name
            .avatar
              img(src='./images/avatar-amumu.jpg')
              .name
                | Avatar Name
        .preview-area
          | 预览
          .preview-sm
            .preview
            | 60x60
          .preview-md
            .preview
            | 100x100
        .clearfix
        hr
        .form-group
          .col-xs-12
            a.button.outline-red.pull-left.close-modal(href='#') 取消
            a.button.dark-red.pull-right.close-modal(href='#') Confirm


  div(style='display:none')
    #topup-modal.red
      .modal-inner
        .modal-header
          h4.modal-title 现金充值
        .modal-body
          .row
            .col-xs-12.ver
              img(src='./images/purse.png')
              | 当前结余：
              | USD$
              span.gold.bodoni
                | 500.00
          .row
            .col-xs-12
              .long-pill
                  .long-pill-inner
                    | 充值：$USD
                    input#bet-amount(type='text' value='0')
                    span.sub 每天最多充值：$20,000
              ul.coins
                li
                  a(data-plus='20' href='#')
                    img(src='./images/topup-coin-1.png')
                li
                  a(data-plus='50' href='#')
                    img(src='./images/topup-coin-2.png')
                li
                  a(data-plus='100' href='#')
                    img(src='./images/topup-coin-3.png')
                li
                  a(data-plus='200' href='#')
                    img(src='./images/topup-coin-4.png')
                li
                  a(data-plus='500' href='#')
                    img(src='./images/topup-coin-5.png')
          .row
            ul.quick-deposit
              li.active
                a
                  span.check
                  span.payment
                    img(src='./images/quick-unionpay.png')
                    | 快捷支付
                  span.amount
                    | 支付：USD$
                    span.gold.bodoni 1,000
              li
                a
                  span.check
                  span.payment
                    img(src='./images/quick-wechat.png')
                    | 微信支付
                  span.amount
                    | 支付：USD$
                    span.gold.bodoni 1,000
              li
                a
                  span.check
                  span.payment
                    img(src='./images/quick-alipay.png')
                    | 支付宝
                  span.amount
                    | 支付：USD$
                    span.gold.bodoni 1,000
          hr
          .row.text-center
            a.submit-pass(href='#')
              img(src='./images/yellow-check.jpg')
              span 立即充值


      .success-message(style='display:none')
        .modal-header
          h4.modal-title 恭喜您！充值成功
        .modal-body
          img(src='./images/topup-check.jpg')
          | 您已经成功充值 $1,000
          .current-balance
            | 当前账户余额为
            span.gold $5,400
          p.tall
            | 充值就送积分，本次充值您可获得200积分更有VIP礼 去兑换礼物

          hr
          .row.text-center
            a.close-modal(href='#')
              img(src='images/continue.jpg')
              span 返回个人中心
