extends layouts/default-logged

block content
  .container.text
    .row.text-row
      .col-xs-12
        h1.page-title 理性博彩
        .section
          h3 1. 理性博彩政策

          h4 1.1
          p 电竞668致力于推行理性博彩，并积极促进对问题博彩的关注、预防、干预和消除。电竞668以理性博彩政策为起点，努力减少问题博彩的负面影响并大力推广理性博彩。

          h4 1.2
          p 我们确信，保证您在电竞668博彩娱乐的同时充分关注与问题博彩相关的社会和财务危害是我们对会员的责任。

          h4 1.3
          p 为了协助您进行理性博彩，我们确保工作人员接受理性博彩意识的培训。如需更多信息或协助请联系客户服务部。


        .section
          h3 2. 保持控制

          h4 2.1
          p 我们绝大部分的会员都在自己的财力之内进行博彩娱乐，但也有少数难以做到这一点。为维持对博彩习惯的自我控制，请注意以下几点：
            ol
              li 博彩是一种需要有节制的娱乐方式，而不是赚钱方法
              li 避免越输越想捞本的做法
              li 只有在能够承担损失的情况下才博彩
              li 游戏时间长短和资金投入数量的纪录

          p 如果您需要和他人交流关于您博彩的顾虑，请联系我们列出的相关组织。

        .section
          h3 3. 您遇到了问题吗？

          h4 3.1
          p 如果您担心博彩对您或别人的生活造成负面影响，以下几个问题也许能有助您了解。
          ol
            li 您会否因为博彩而不上班或不上学？
            li 您会以博彩消磨时间或逃避无聊吗？
            li 其他人指责您博彩吗？
            li 由于博彩您已经对家庭、朋友或爱好失去兴趣了吗？
            li 您曾经说谎以掩盖您花费在博彩上的金钱和时间吗？
            li 您曾说谎、偷窃或借钱以保证博彩的需要吗？
            li 您不情愿把博彩的钱花费在其他东西上吗？
            li 直到输光了您才停止博彩吗？
            li 在损失金钱后，您是否感觉必须尝试和尽快赢回那些损失？
            li 如果您博彩输光了，您是否有失落、绝望并有想尽快再博彩的感觉？
            li 争执、挫折或失望使您想要进行博彩吗？
            li 博彩使您感觉消沉或有自杀倾向？
            li 避免越输越想捞本的做法
            li 只有在能够承担损失的情况下才博彩
            li 游戏时间长短和资金投入数量的纪录

          p 您回答“是”的问题越多，您越有可能是问题博彩者。需要与给您忠告和支持的人员交流，请联系相关协助组织。

          h4 3.2
          p 博彩互戒协会（Gamblers Anonymous）是一个包含男女的协助组织，其目标是协作解决他们的博彩问题，并帮助解决其他博彩强迫症者的问题；并在世界各地都有其区域性组织。互戒协会的国际 www.gamblersanonymous.org, 博彩医治组织（Gambling Therapy）为每一个不幸被博彩困扰的人提供支持和咨询。该组织成员居于英国及世界各地。其网站为：www.gamblingtherapy.org

        .section
          h3 4. 未成年博彩
          h4 4.1
          p 任何未满 18 岁人士在电竞668开户或博彩均属违法。电竞668会在此方面绝对严格执行。我们对所有使用 18 岁以下青少年可用的存款方式的会员执行电子年龄验证，并随机验证使用其它存款方式

          h4 4.2
          p 请注意任何 18 岁以下人士若被发现使用这个网站，所有盈利将被没收并且交由警察处理。

        .section
          h3 5. 投注限制
          h4 5.1
          p 在电竞668，我们意识并注意到实施投注限制可有效地遏制问题赌博行为。因此，我们提供合适于您的工具以便可以让您控制您的资金数额进行投注。您可在任何时候对体育博彩的投注金额自行设置限制。在账户管理栏选择投注预算，并在预算额度填写您所限制的最高投注预算后点击更新。请注意，您所填写投注预算的金额将是您在未来连续7日内可操作的总金额。

          p 为了协助您所设定的限制是否合适于您，请经过仔细考虑：
          ol
            li 在还未开始博彩之前设定一个可以承受的输的限度。
            li 留意您的进行游戏频率。
            li 留意您在每一项博彩游戏使用了多长时间。
            li 我们希望在您思考这些问题后再决定每天、每周或每月的投注量。

        .section
          h3 6. 行为设限
          h4 6.1
          p 如果您担心赌博行为会影响到您的正常生活，您可要求把自己列入我们的行为设限计划中。设置短暂的行为设限，您只需在账户管理栏中选择投注预算，再从中任选一项设限期：

          p 为了协助您所设定的限制是否合适于您，请经过仔细考虑：
          ol
            li 7天冷却期
            li 90天行为设限期
          h4 6.2
          p 在您设置完行为设限期后，您将会收到一封系统确认邮件，需您确认后我们才会正式处理您的要求。在这段期间，您将自愿保证自己不会：
          ol
            li 参与我们网站任何的博彩游戏活动
            li 进行存款或转账

          h4 6.3
          p 与此期间，我们会根据您选择的设限期暂时冻结您的账户，并限制登录，且在此期间会采取所有合理措施以确保您不会收到有关电竞668的一切宣传与促销优惠。


          h4 6.4
          p 请注意在您设置行为设限设定期间，无论在任何的理由或情况之下您的账户都将限制被启用登入。您的账户将不会自动重新激活。在完成行为限制的要求时间后，若您要重新激活您的账户，您须要点击在线客服联系我们的客户专员进行申请。要知道如果行为设限是否为有效选择，您需要先问您自己：
          ol
            li 网络赌博是否妨碍到我的工作或其它职责？
            li 我是否在力图补偿赌博造成对的损失？
            li 我是否已从无序上瘾中恢复？
            li 我是否在酒精或其它因素影响下投注？

          h4 6.5
          p 如果您的回答在其中一项为“是”，我们建议您要求行为设限及寻求专业协助。

          h4 6.6
          p 如果您觉得您将有可能染上赌博成瘾的习惯，请发送电邮至：
            a(href='mailto:cs@电竞668.com')
              | cs@电竞668.com
            | 。
          h4 6.6
          p
            | 我们的辅导员将直接通过专业组织协助您有关戒赌的问题，以及提供相关信息的协助。
            br
            | 您亦可发送电邮至：cs@电竞668.com寻求永久的行为设限。在确认是您本人并且是您的意愿要设定永久性的行为设限后，您的账号将会被永久性的关闭并无法再开启，日后若发现您试图再注册账号，我们也会关闭您的重复账号。
