doctype html
html.no-js
  head
    meta(charset='utf-8')
    title My Webapp
    meta(name='description' content='')
    meta(name='viewport' content='width=1280, initial-scale=1')
    meta(property="og:image" content="images/og-image-cn.jpg")
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    // Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/jquery.fancybox.css')
    link(rel='stylesheet' href='styles/jquery.bootstrap-touchspin.min.css')
    link(rel='stylesheet' href='styles/swiper.min.css')
    link(rel='stylesheet' href='styles/flexslider.css')
    link(rel='stylesheet' href='styles/jquery.jscrollpane.css')
    link(rel='stylesheet' href='styles/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet' href='styles/cropper.css')
    link(rel='stylesheet' href='styles/bootstrap-switch.min.css')
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='../bower_components/modernizr/modernizr.js')
    // endbuild

  body.en
    | <!--[if lt IE 10]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    header.navbar.navbar-static-top.full-container
      div.container.frame
        .nav-wrap.row

          .col-xs-5
            .login-helper.text-right
              a.btn.square.yellow(href='#')
                img(src='../images/login.png')
                | Login
              a.btn.square.yellow(href='#')
                img(src='../images/register.png')
                | Register

          .navbar-header.text-center.col-xs-2
            a.navbar-brand(href="./index.html")
              img(src="./images/center-logo.png")

          .col-xs-4
            .site-helper

              .dropdown.language-dropdown
                | Language
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                  span
                    = val
                    img(src='./images/zh-CN.png')
                  b.caret
                ul.dropdown-menu.language-menu
                  -var languages = {'zh-CN':'中文','en-AU':'EN'};
                  each val, key in languages
                    if key === 'en-AU'
                      li
                        a(href='index-en.html')
                          img(src='./images/'+key+'.png')
                          = val
        .secondary-link.row
          .full-link.col-xs-12
            .row
              ul.link-left.col-xs-6
                li.active
                  a(href='#')
                    img(src='../images/home.png')
                    | Home
                li
                  a(href='#')
                    img(src='../images/match.png')
                    | Match

                li
                  a(href='#')
                    img(src='../images/tutorial.png')
                    | Tutorial

              ul.link-right.text-right.col-xs-6
                li
                  a(href='#')
                    img(src='../images/nav-lol.png')
                    | LOL Result
                li
                  a(href='#')
                    img(src='../images/nav-dota.png')
                    | DOTA Result
                li
                  a(href='#')
                    img(src='../images/help.png')
                    | Customer Service

    block content

    .footer-container
      .container
        .footer.row
          .col-xs-12
            ul
              li
                a(href='#') Contact Us
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Terms of Use
              li
                a(href='#') Cookie Policy
        .row
          .col-xs-12.footer-products
            img(src='./images/footer-lol.png')
            img(src='./images/footer-dota.png')
        .row
          .col-xs-12
            p We are committed to the payment process in the process of rapid payment and transparency, So we use the Parimutuel betting system.

            p Each part of our turnover will automatically become part of our online games for a sponsorship section. When this fundraiser reaches the designated amount, we will organize a game you specify online games. Quickly vote for your favorite games
        .row
          ul.col-xs-12.footer-products
            li
              a
                img(src='./images/partner1.png')
            li
              a
                img(src='./images/partner2.png')
            li
              a
                img(src='./images/partner3.png')
            li
              a
                img(src='./images/partner4.png')

        .row
          ul.col-xs-12.footer-products
            li
              a
                img(src='./images/fb.png')
            li
              a
                img(src='./images/twitter.png')
            li
              a
                img(src='./images/weibo.png')
        .row
          p.col-xs-12 &copy;T.E.C.H. Ltd

    div(style='display:none')
      #register-modal
        .modal-header
          h4.modal-title 注册
        .modal-body
          form.form-horizontal
            .form-group
              .col-xs-4.label.text-right
                span.red *
                label(for='regEmail') 邮箱
              .col-xs-6.input.text-left
                input(type='email' name='regEmail')
            .form-group
              .col-xs-4.label.text-right
                span.red *
                label(for='regPassword') 密码
              .col-xs-6.input.text-left
                input(type='password' name='regPassword')
            .form-group
              .checkbox.col-xs-push-4.text-left.col-xs-7
                label
                  input(type='checkbox')
                  | 我同意，我已成年满18岁，我可以合法赌博.
            .form-group
              .checkbox.col-xs-push-4.text-left.col-xs-7
                label
                  input(type='checkbox')
                  | 我已阅读并同意ESportGaming的
                  | <a href='./term.html'>条款</a>

            button.btn.yellow(type='submit') 立即注册

    div(style='display:none')
      #login-modal
        .modal-header
          h4.modal-title 登录
        .modal-body
          form.form-horizontal
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='regEmail') 邮箱
              .col-xs-9.input.text-left
                input(type='email' name='regEmail')
            .form-group
              .col-xs-3.label.text-right
                span.red *
                label(for='regPassword') 密码
              .col-xs-9.input.text-left
                input(type='password' name='regPassword')
            .form-group
              .checkbox.col-xs-push-3.text-left.col-xs-8
                label
                  input(type='checkbox')
                  | 记住密码
                a.yellow(href='#' id="forget") 忘记密码


            button.btn.yellow(type='submit') 登录



    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    script(src='scripts/jquery.roadmapTable.js')
    script(src='scripts/jquery.bootpag.min.js')
    script(src='scripts/swiper.jquery.min.js')
    script(src='scripts/jquery.star-rating-svg.js')
    script(src='scripts/jquery.bootstrap-touchspin.min.js')
    script(src='scripts/moment.min.js')
    script(src='scripts/bootstrap-datetimepicker.min.js')
    script(src='scripts/jquery.plugin.js')
    script(src='scripts/jquery.flexslider.js')
    script(src='scripts/jquery.countdown.min.js')
    script(src='scripts/jquery.mousewheel.js')
    script(src='scripts/echarts.min.js')
    script(src='scripts/jquery.jscrollpane.min.js')
    script(src='scripts/doT.min.js')
    script(src='scripts/bootstrap-toggle.min.js')
    script(src='scripts/jquery.fancybox.pack.js')
    script(src='scripts/jquery.simpleImageCheck.js')
    script(src='scripts/strength.js')
    script(src='scripts/bootstrap-switch.min.js')
    script(src='scripts/jquery.validate.min.js')
    script(src='scripts/cropper.js')
    script(src='scripts/clipboard.min.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
